{% load article_tags wagtailcore_tags %}

<nav class="footer-nav footer-nav--{{suffix}}">
    <ul class="nav-list">
        {% footer_pages %}
        {% if not user.is_authenticated %}
            <li class="nav-list__item">
                <a href="{% url 'user_register' %}" class="nav-list__anchor">Join us</a>
            </li>
        {% else %}
            <li class="nav-list__item">
                <a href="{% url 'view_my_profile' %}" class="nav-list__anchor">Profile</a>
            </li>
        {% endif %}

        <li class="nav-list__item">
            {% if not user.is_authenticated %}
                <a href="{% url 'auth_login' %}" class="nav-list__anchor">Log in</a>
            {% else %}
                <a href="{% url 'auth_logout' %}" class="nav-list__anchor">Log out</a>
            {% endif %}
        </li>
    </ul>
</nav>