{% load article_tags i18n wagtailcore_tags %}

<nav class="footer-nav footer-nav--{{suffix}}">
    <ul class="nav-list">
        {% footer_pages %}
        <li class="nav-list__item">
        {% if not user.is_authenticated %}
            <a href="{% url 'user_register' %}" class="nav-list__anchor">{% trans "Join us" %}</a>
        {% else %}
            <a href="{% url 'view_my_profile' %}" class="nav-list__anchor">{% trans "Profile" %}</a>
        {% endif %}

        <li class="nav-list__item">
            {% if not user.is_authenticated %}
                <a href="{% url 'auth_login' %}" class="nav-list__anchor">{% trans "Log in" %}</a>
            {% else %}
                <a href="{% url 'auth_logout' %}" class="nav-list__anchor">{% trans "Log out" %}</a>
            {% endif %}
        </li>
    </ul>
</nav>