//COLORS
$white: #ffffff;

$light_gray_blue: #eff3f5;
$dark_gray_blue: #909497;
$very_dark_gray_blue: #353638;
$very_dark_gray: #434343; 

$lime: #00d79b;

$blue: #003cdc;

$pink: #db007e;


//THEMES
$themes: (
    my-life: $white,
    my-body:  $white,
    my-future: $pink,
    girl-stories: $white
);

$themes_background: (
    my-life: -530px -330px,
    my-body: 0 -590px,
    my-future: -530px -880px,
    girl-stories: 0 -3px,
);

$themes_underline: (
    my-life: -112.5px -397.5px,
    my-body: -112.5px -397.5px,
    my-future: -112.5px -397.5px,
    girl-stories: -112.5px -397.5px,
);


//DIRECTORY
$staticPath: 'http://127.0.0.1:8000/static/'