{% load wagtailsettings_tags wagtailimages_tags i18n %}
{% get_settings %}

{% if settings.home.SiteSettings.facebook_sharing or settings.home.SiteSettings.twitter_sharing or settings.home.SiteSettings.whatsapp_sharing or settings.home.SiteSettings.telegram_sharing or settings.home.SiteSettings.viber_sharing %}
  <ul class="social-media-list">
    <li class="social-media-list__item"> 
        <label class="social-media-list__label">{% trans "Share" %}:</label>
    </li>

    {% if settings.home.SiteSettings.facebook_sharing %}
        <li class="social-media-list__item"> 
            <a class="social-media-list__anchor" href="http://www.facebook.com/sharer.php?u=http{% if request.is_secure %}s{%endif %}://{{ request.get_host }}{{ request.path }}" target="_blank" rel="noreferrer">
                {% image facebook width-160 format-png as social_icon %}
                {% if social_icon %}
                    <img alt="{{ social_icon.title }}" src="{{ social_icon.url }}" class="social-media-list__anchor-icon"/>
                {% endif %}
                <span class="social-media-list__anchor-title {% if social_icon %}with-icon {% endif %}">{% trans "Facebook" %}</span>
            </a>
        </li>
    {% endif %}

    {% if settings.home.SiteSettings.twitter_sharing %}
        <li class="social-media-list__item"> 
            <a class="social-media-list__anchor" href="https://twitter.com/share?url=http{% if request.is_secure %}s{%endif %}://{{ request.get_host }}{{ request.path }}" target="_blank" rel="noreferrer">
                {% image twitter width-160 format-png as social_icon %}
                {% if social_icon %}
                    <img alt="{{ social_icon.title }}" src="{{ social_icon.url }}" class="social-media-list__anchor-icon"/>
                {% endif %}
                <span class="social-media-list__anchor-title {% if social_icon%}with-icon{% endif %}">{% trans "Twitter" %}</span>
            </a>
        </li>
    {% endif %}

    {% if settings.home.SiteSettings.whatsapp_sharing %}
      <li class="social-media-list__item">
        <a class="social-media-list__anchor" href="whatsapp://send?text=http{% if request.is_secure %}s{%endif %}://{{ request.get_host }}{{ path }}" target="_blank" rel="noreferrer">
            {% image whatsapp width-160 format-png as social_icon %}
            {% if social_icon %}
                <img alt="{{ social_icon.title }}" src="{{ social_icon.url }}" class="social-media-list__anchor-icon"/>
            {% endif %}
            <span class="social-media-list__anchor-title {% if social_icon%}with-icon{% endif %}">{% trans "Whatsapp" %}</span>
        </a>
      </li>
    {% endif %}

    {% if settings.home.SiteSettings.telegram_sharing %}
      <li class="social-media-list__item">
        <a class="social-media-list__anchor" href="https://telegram.me/share/url?url=http{% if request.is_secure %}s{%endif %}://{{ request.get_host }}{{ path }}" target="_blank" rel="noreferrer" class="social-media__anchor social-media__anchor--telegram">
            {% image telegram width-160 format-png as social_icon %}
            {% if social_icon %}
                <img alt="{{ social_icon.title }}" src="{{ social_icon.url }}" class="social-media-list__anchor-icon"/>
            {% endif %}
            <span class="social-media-list__anchor-title {% if social_icon%}with-icon{% endif %}">{% trans "Telegram" %}</span>
       
        </a>
      </li>
    {% endif %}

    {% if settings.home.SiteSettings.viber_sharing %}
      <li class="social-media-list__item">
        <a class="social-media-list__anchor" href="viber://forward?text=http{% if request.is_secure %}s{%endif %}://{{ request.get_host }}{{ path }}" target="_blank" rel="noreferrer" class="social-media__anchor social-media__anchor--viber">
            {% image viber width-160 format-png as social_icon %}
            {% if social_icon %}
                <img alt="{{ social_icon.title }}" src="{{ social_icon.url }}" class="social-media-list__anchor-icon"/>
            {% endif %}
            <span class="social-media-list__anchor-title {% if social_icon%}with-icon{% endif %}">{% trans "Viber" %}</span>
        </a>
      </li>
    {% endif %}
  </ul>
{% endif %}
