{% load comments i18n wagtailimages_tags wagtailcore_tags %}

{% with post=post.specific %}
    <div class="teaser-stacklist__item{% if theme.slug == 'springster' or theme.slug == 'tujibebe' %}{% if post.image %} teaser-stacklist__item--split{% endif %}{% endif %}{% if theme.slug == 'zathu' %}{% if forloop.first %} teaser-stacklist__item--full-width{% endif %}{% endif %}">
        {% if post.image %}
            <div class="teaser-stacklist__thumbnail">
                {% image post.image width-400 as article_image %}
                <a href="{% pageurl post %}" class="teaser-stacklist__thumbnail-link">
                    <img alt="{{ post.title }}" src="{{ article_image.url }}" class="teaser-stacklist__image" height="400" width="400"/>
                </a>
            </div>
        {% endif %}

        <div class="teaser-stacklist__content{% if theme.slug == 'springster' or theme.slug == 'tujibebe'  %}{% if post.image %} teaser-stacklist__content--split{% endif %}{% endif %}">
            
            {# <!-- ========== start ZATHU ======== --> #}
            {% if theme.slug == 'zathu' %}
                <h4 class="teaser-stacklist-parent">
                    {% with parent=post.get_parent %}
                        <a href="{% pageurl parent %}" class="teaser-stacklist-parent__anchor">
                            {{parent}}
                        </a>
                    {% endwith %}
                </h4>
            {% endif %}
            {# <!-- ========== end ======== --> #}
            
            <a href="{% pageurl post %}" class="teaser-stacklist__anchor">
                {% if theme.slug == 'springster' or theme.slug == 'tujibebe' or theme.slug == 'zathu'  %}
                    <h3 class="teaser-stacklist__title">{{ post.title|truncatewords:20 }}</h3>
                {% else %}
                    <h3 class="teaser-stacklist__title">{{ post.title }}</h3>
                {% endif %}
            </a>
            
            {% if post.subtitle %}
                {% if theme.slug == 'springster' or theme.slug == 'tujibebe' or theme.slug == 'zathu'  %}
                    <p class="teaser-stacklist__subtitle"> {{ post.subtitle|truncatewords:20 }}</p>
                {% else %}
                    <p class="teaser-stacklist__subtitle"> {{ post.subtitle }}</p>
                {% endif %}
            {% else %}
                <p class="teaser-stacklist__subtitle"> - </p>
            {% endif %}

            <div class="teaser-stacklist__cta">
                {% if theme.slug == 'springster' or theme.slug == 'tujibebe' %}
                    <div class="commenting">
                        {% get_comment_count for post as comment_count %}
                        {% if comment_count > 0 %}
                            <a href="{% pageurl post %}" class="commenting__counter">
                                {{ comment_count }}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            {# <!-- ========== start NINYAMPINGA ======== --> #}
            {% if theme.slug == 'ninyampinga' %}
                <p class="teaser-stacklist__caption"> 
                    {% for post_field in post.body %}
                        {% if post_field.block_type == 'paragraph' %}
                            {{ post_field|truncatewords:10 }}
                        {% endif %}
                    {% endfor %}
                </p>
                <a href="{% pageurl post %}" class="call-to-action__submit">
                    {% trans "Click here" %}
                </a>
            {% endif %}
            {# <!-- ========== end ======== --> #}
            
            {# <!-- ========== start YEGNA ======== --> #}
            {% if theme.slug == 'yegna' %}
                <a href="{% pageurl post %}" class="call-to-action__read-more">
                    {% trans "Read more" %}
                </a>
            {% endif %}
            {# <!-- ========== end ======== --> #}
        </div>  
    </div>
{% endwith %}