{% load article_tags comments home_tags i18n wagtailcore_tags theme_tags %}

<div id="comments" class="commenting commenting--on-article">
    <div class="heading heading--component">
        <h1 class="heading__component-title">{% trans "Share your feedback" %}</h1>
    </div>
   
    {# <!-- ========== start THREADED COMMENTS ========== --> #}
    {% get_comment_form for page as form %}
    {% if user.is_authenticated %}
        <form action="{% comment_form_target %}" method="POST" class="commenting-form">
        {% csrf_token %}
           {{ form.comment }}
            {{ form.content_type }}
            {{ form.object_pk }}
            {{ form.security_hash }}
            {{ form.timestamp }}
            <input type="hidden" name="next" value="{{ page.url }}" />
            <input type="hidden" name="email" value="comment@example.com" />
            <input type="hidden" name="parent" value="{{comment.pk}}" />
            <input type="submit" value="Add comment" id="id_submit" class="call-to-action__submit" />
        </form>
    {% else %}
        <div class="call-to-action">
            <a href="{% url 'auth_login' %}" class="call-to-action__submit">{% trans "Log in to leave a comment." %}</a>
        </div>
    {% endif %}

    {% get_comment_list for page as comment_list %}
    {% if comment_list %}
        <div class="commenting__list">
            <div class="heading heading--component">
                <h1 class="heading__component-title">{% trans "Your thoughts" %}</h1>
            </div>
           
            {% for comment in comment_list %}
                <div class="commenting__list-item">
                    <div class="commenting-thread">
                        {% if comment.is_removed %}
                            <h6 class="commenting-thread__alias-removed">
                                {% trans "This comment has been deleted. Please read our platform rules." %}
                            </h6>
                        {% else %}
                            <h6 class="commenting-thread__alias">{{ comment.user_name }}</h6>
                            <p class="commenting-thread__msg">{{ comment.comment }}</p>
                            <p class="commenting-thread__publish-date">{{ comment.submit_date }}
                        {% endif %}
                       
                        {% get_comment_list for comment as threaded_comment_list %}
                        {% get_comment_count for comment as reply_count %}
                        <div class="commenting-cta">
                            <div class="commenting-cta__left">
                                <a href="/comments/flag/{{ comment.id }}/" class="commenting-cta__label">{% trans "Report" %}</a> 
                                <!-- 
                                    NEEDS A REPLY CALL TO ACTION URL 
                                    e.g. https://id.heyspringster.com/commenting/molo/reply/12637/#comment-block
                                -->
                                <a href="/comments/{{ page.id }}/reply" class="commenting-cta__label">{% trans "Reply" %}</a>
                            </div>
                            <div class="commenting-cta__right">
                                <!-- 
                                    NEEDS A REPLIES FORM - CALL TO ACTION URL
                                    e.g. https://id.heyspringster.com/commenting/molo/reply/12637/#comment_reply
                                -->
                                <a href="/comments/{{ comment.id }}/#comment_reply" class="commenting-cta__label">
                                    {{ reply_count }} {% if reply_count > 0 %}{% trans "Replies" %}{% else %}{% trans "Reply" %}{% endif %}
                                </a>
                            </div>
                        </div>

                        {% if threaded_comment_list %}

                        {{ threaded_comment_list }} - {{ reply_count }}
                            <div class="commenting-replies">
                                <h5 class="commenting-replies-title">Latest Reply</h5>
                                {% for threaded_comment in threaded_comment_list %}
                                    <h6 class="commenting-thread__alias">{{ threaded_comment.user_name }}</h6>
                                    <p class="commenting-thread__msg">{{ threaded_comment.comment }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
