{% load i18n %}

{% if results %}
  <div class="pagination">
    <div class="pagination__item">
      {% if results.has_previous %}
        {% if results.previous_page_number == 1 and pagelink == request.path %}
          <a href="/" class="pagination__anchor"></a>
        {% else %}
          <a href="{{page.url}}?page={{ results.previous_page_number }}" class="pagination__anchor pagination__anchor--prev">{% trans 'Prev' %}</a>
        {% endif %}
      {% endif %}
    </div>
    
    <div class="pagination__item">
      <p class="pagination__num">
        Page {{ results.number }} of {{ results.paginator.num_pages }}
      </p>
    </div>
    <div class="pagination__item">
      {% if results.has_next %}
        <a href="{{page.url}}?page={{ results.next_page_number }}" class="pagination__anchor pagination__anchor--next">{% trans 'Next' %}</a>
      {% endif %}
  </div>
  </div>
{% endif %}
