{% load i18n wagtailcore_tags static %}

<footer  id="footer" class="footer">
    <div class="footer__inner">
        {% include "../_patterns/search-input.html" with enhance="footer" %}
        <!-- Social links here -->
        <div class="footer-wrapper">
            {% include "../_patterns/nav.html" with suffix="zathu" %}
            {% include "../_patterns/footer-nav.html" with suffix="zathu" %}
        </div>
    </div>

    <!-- TO BE DYNAMICALLY PULLED THROUGH -->
    <div class="footer-languages">
        <ul class="languages-list">
            <li class="languages-list__item">
                <label  class="languages-list__label">Languages:</label>
            </li>
            {% include "../_patterns/_language-list.html" %}
        </ul>
    </div>

    <div class="copyright">
        <p class="copyright__text">
            © {% now "Y" %} Zathu. All Rights Reserved.
        </p>
    </div>
    
</footer>