{% load static %}

<!-- LANGUAGES DO NOT WORK IN PROFILES -->
{% include "../_patterns/language.html" %}
<div id="header" class="header">  
    <header id="header-wrapper" class="header-wrapper">
        <div class="menu">
            <div class="logo">
                <a href="/" class="logo__anchor">
                    <img src="{% static 'img/zathu/zathu.png' %}" class="logo__image">
                </a>
            </div>
            <nav class="nav">
                <ul class="nav-list"> 
                    <li class="nav-list__item">
                        <a class="nav-list__anchor" href="#footer">Menu</a>
                    </li>
                    <li class="nav-list__item">
                        {% if not user.is_authenticated %}
                            <a href="{% url 'user_register' %}" class="nav-list__anchor">Sign up</a>
                        {% else %}
                            <a href="{% url 'view_my_profile' %}" class="nav-list__anchor">Profile</a>
                        {% endif %}
                    </li>
                    <li id="search" class="nav-list__item">
                        <a class="nav-list__anchor" href="#footer">
                            <label>Search</label>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</div>