{% load  article_tags i18n static wagtailcore_tags %}

{% include "../_patterns/language.html" %}
<div id="header" class="header">
    <header id="header-wrapper" class="header-wrapper">
        <div class="menu">
            <div class="logo">
                <a href="/" class="logo__anchor">
                    <img src="{% static 'img/zathu/zathu.png' %}" class="logo__image">
                </a>
            </div>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-list__item">
                        <a class="nav-list__anchor" href="#footer">{% trans "Menu" %}</a>
                    </li>
                    <!-- {% comment %} <li class="nav-list__item">
                        {% if not user.is_authenticated %}
                            <a href="{% url 'user_register' %}" class="nav-list__anchor">{% trans "Sign up" %}</a>
                        {% else %}
                            <a href="{% url 'view_my_profile' %}" class="nav-list__anchor">{% trans "Profile" %}</a>
                        {% endif %}
                    </li> {% endcomment %} -->
                    <li id="search" class="nav-list__item">
                        <a class="nav-list__anchor" href="#footer">
                            <label>{% trans "Search" %}</label>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</div>
