{% load wagtailcore_tags wagtailimages_tags article_tags static theme_tags i18n %}

<div class="search-page">
    <div class="component-title">
        <div class="component-title__super">
            <h1 class="heading heading--primary">
                {% trans "Search" %}
            </h1>
        </div>
    </div>

    <div class="search-page__inner">
        <div class="component">
            <h2 class="subheading">{{ search_results|length }} {% trans "results found for" %} 
                <span class="subheading__label">"{{search_query}}"</span>.
            </h2>
        </div>
        {% if search_results %}
            <div class="teaser-stacklist">
                {% for post in search_results.object_list %}
                    <div class="teaser-stacklist__item">
                        {% if post.image %}
                            <div class="teaser-stacklist__thumbnail">
                                {% image post.image width-1080 as article_image %}
                                <a href="{% pageurl post %}" class="teaser-stacklist__thumbnail-link">
                                    <img alt="{{ post.title }}" src="{{ article_image.url }}" class="teaser-stacklist__image"/>
                                </a>
                            </div>
                        {% endif %}

                        <div class="teaser-stacklist__content">
                            <a href="{% pageurl post %}" class="teaser-stacklist__anchor">
                                <span class=" teaser-stacklist__label">{{ post.get_parent }}</span>
                            </a>
                        
                            <a href="{% pageurl post %}" class="teaser-stacklist__anchor">
                                <h3 class="teaser-stacklist__title">{{ post.title }}</h3>
                            </a>
                            {% if post.subtitle %}
                                <p class="teaser-stacklist__subtitle"> {{ post.subtitle }}</p>
                            {% endif %}
                            <div class="call-to-action">
                                <a href="{% pageurl post %}" class="call-to-action__read-more">
                                    {% trans "See more" %}
                                </a>
                            </div>
                        </div> 
                    </div>
                {% endfor %}
            </div>

            <div class="pagination">
                    
                <div class="pagination__item">
                    {% if search_results.has_previous %}
                        <a href="{% url 'search' %}?q={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}" class="pagination__anchor pagination__anchor--prev">Prev</a>
                    {% endif %}
                </div>

                <div class="pagination__item">
                    <p class="pagination__num">Page {{ search_results.number }} of {{ search_results.paginator.num_pages }}</p>
                </div>

                <div class="pagination__item">
                    {% if search_results.has_next %}
                        <a href="{% url 'search' %}?q={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}" class="pagination__anchor pagination__anchor--next">Next</a>
                    {% endif %}
                </div>
            </div>
        {% elif search_query %}
            <h2 class="heading__subheading">{% trans 'Nothing was found matching' %} {{search_query}}</h2>
            {% include "../_patterns/search-input.html" %}
        {% else %}
            <h2 class="heading__subheading">{% trans 'Please type something into the search box' %}</h2>
            {% include "../_patterns/search-input.html" %}
        {% endif %}
    </div>
</div>