{% extends "base.html" %}
{% load i18n static wagtailsettings_tags wagtailcore_tags %}
{% get_settings %}

{% block content %}
    {% trans "Thank you for joining!" %}
    {{request.user.geuser.user}}
    <h6 >{% trans "Let us know more about yourself." %}</h6>
    <form method="post" action="{% url 'registration_done' %}" instance={{request.user.geuser}}>
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="{% trans 'Save' %}"/>
    </form>
      <a href="/profiles/view/myprofile/" >{% trans "Profile" %}</a>
      <a href="/">{% trans "Home Page" %}</a>

{% endblock %}
