{% extends "base.html" %}
{% load i18n wagtailsettings_tags theme_tags%}
{% get_settings %}

{% block content %}
{% get_current_theme as theme %}
  {% if theme.slug == 'ninyampinga' %}
    {% include "./ninyampinga/edit-profile.html" %}
  {% elif theme.slug == 'springster' %}
    {% include "./springster/edit-profile.html" %}
  {% elif theme.slug == 'tujibebe' %}
    {% include "./tujibebe/edit-profile.html" %}
  {% elif theme.slug == 'zathu' %}
    {% include "./zathu/edit-profile.html" %}
  {% endif %}


{% endblock %}
