{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Forgot PIN" %}</h1>
  <form method="post" action="{% url 'forgot_password' %}" class="profiles__form">
  {% csrf_token %}
    {% if form.errors %}
      <ul class="error-list">
      {% for key, errors in form.errors.items %}
          {% for error in errors %}
              <li class="error-list__item error">{{ error }}</li>
          {% endfor %}
      {% endfor %}
    </ul>
    {% endif %}
    <fieldset>
    {% for field in form %}
      {{ field.label_tag }} {{ field }}
      {% if forloop.counter == 1 %}
          <h4 class="heading heading--feeback-title">{% trans "Security question" %}</h4>
          <p>{% trans "Please answer the following security question." %}</p>
        {% endif %}
      {% endfor %}
    </fieldset>

      <input type="submit" value='{% trans "Forgot PIN" %}' />
  </form>
{% endblock %}
