//COLORS
$white: #fff;

$light_gray: #f3f4f1;

$very_light_gray: #dadada;

$light_gray_red: #f7f6f6;

$light_red: #ff4b4b;

$gray: #747474;

$dark_gray: #7a7a7a; //#a3a3a3

$mod_blue: #3b5998;
$dark_blue: #2c4376;

$very_dark_gray: #333333;

$very_dark_gray_v2: #5c5c5c;

$strong_cyan: #00b8ae;

$yellow: #ffed00;

$vivid_orange: #f8af04;

$dark_violet: #412a83;


//DIRECTORY
$staticPath: 'http://127.0.0.1:8000/static/';



//FONTSIZES
$smaller: 12px;
$small: 15px;
$default: 16px;
$medium: 18.72px;
$large: 20px;
$larger: 22px;
$very_larger: 26px;