{% load wagtailcore_tags wagtailimages_tags article_tags i18n %}



{% get_next_article page as next_article %}

{% if next_article %}
<div class="article-page__recommendations">
    <h4 class="heading heading--related-up-next">
        {% trans 'Next up in' %} 
    </h4>
    <div class="article-teaser">
        <div class="teaser-stacklist">
        
            {% with item=next_article.body|first %}
                <div class="teaser-stacklist__item{% if item.block_type == 'image' %} teaser-stacklist__item--split{% endif %}">
                    {% if item.block_type == 'image' %}
                    <div class="teaser-stacklist__thumbnail">
                        <a href="{{ next_article.url }}" class="teaser-stacklist__thumbnail-link">
                            {{ item }}
                        </a>
                    </div>
                    {% endif %}
                
                    <div class="teaser-stacklist__content{% if item.block_type == 'image' %} teaser-stacklist__content--split{% endif %}">
                        <a href="{{ next_article.url }}" class="teaser-stacklist__anchor">
                            <h3 class="teaser-stacklist__title">{{ next_article.title }}</h3>
                            <p class="teaser-stacklist__subtitle"> {{ next_article.subtitle }}</p>
                        </a>
                        {% if next_article.tags.all.count %}
                            <ul class="teaser-stacklist-tags">
                                {% for tag in next_article.tags.all %}
                                    <li class="teaser-stacklist-tags__item">#{{ tag.name}}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>  
                </div>
            {% endwith %}
        </div>
    </div>
</div>
{% endif %}