<div class="languages">
    <label for="languages_toggle" class="languages__label toggle">
        Languages
    </label>
    <input type="checkbox" value="toggles" name="languages_toggle" id="languages_toggle" class="languages__checkbox"/>
    
   
    <div class="languages-dropdown dropdown">
        <ul class="languages-list">
            <li class="languages-list__item">
                <div class="languages-list__label">
                    <h1 class="languages-list__title">Indimi:</h1>
                </div>
            </li>
            {% for language in languages %}
                <li class="languages-list__item">
                    <a rel="alternate" hreflang="{{ language_name_local}}" href="{% url 'locale_set' language.locale %}?next={{request.path}}{% if request.GET.urlencode %}?{{ request.GET.urlencode }}{% endif %}" class="languages-list__anchor{% if request.LANGUAGE_CODE == language.locale %} is-active{% endif %}">
                        {{ language.locale }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    {{languages}}
    {% if languages|length > 1 %}

    {% endif %}
  </div>