{% load i18n wagtailcore_tags %}

<div class="languages">
    <label for="languages_toggle" class="languages__label toggle">
        Languages
    </label>
    <input type="checkbox" value="toggles" name="languages_toggle" id="languages_toggle" class="languages__checkbox"/>
    
   
    <div class="languages-dropdown dropdown">
        <ul class="languages-list">
            <li class="languages-list__item">
                <div class="languages-list__label">
                    <h1 class="languages-list__title">Indimi:</h1>
                </div>
            </li>
            {% for language_code, language_name in LANGUAGES %}
            
                {% get_language_info for language_code as lang %}
                {% language language_code %}
                    <li class="languages-list__item">
                        <a rel="{{ language_code }}" hreflang="{{ language_code }}" href="{% pageurl page.localized %}" class="languages-list__anchor">
                            {{ lang.name_local }}
                        </a>
                    </li>
                {% endlanguage %}
            {% endfor %}
        </ul>
    </div>
  </div>