{% load i18n wagtailcore_tags %}


<div class="languages">
    {% if self.get_translations.live %}
        <label for="languages_toggle" class="languages__label toggle">
            {% trans "Languages" %}
        </label>
        <input type="checkbox" value="toggles" name="languages_toggle" id="languages_toggle" class="languages__checkbox"/>
        
        <div class="languages-dropdown dropdown">
            <ul class="languages-list">
                <li class="languages-list__item">
                    <div class="languages-list__label">
                        <h1 class="languages-list__title">{% trans "Language:" %}</h1>
                    </div>
                </li>    
                {% include "../patterns/_language-list.html" %}
            </ul>
        </div>
    {% endif %}
</div>
