{% load wagtailcore_tags %}
<div class="nav">
    <label for="nav_toggle" class="nav__label toggle">
      <div class="burger-icon"> 
        <span class="burger-icon__one"></span>
        <span class="burger-icon__two"></span>
        <span class="burger-icon__three"></span>
      </div>
      Ibirimo
    </label>
    <input type="checkbox" value="toggles" name="toggle" id="nav_toggle" class="nav__checkbox"/>
    
    {% if user.is_authenticated %}
        <div class="nav-profile">
            <a href="{{VIEW_PROFILE_URL}}" class="nav-profile__anchor">Profile</a>
        </div>
    {% endif %}

    <div class="nav-dropdown dropdown">
        <div class="nav-primary">
            <ul class="nav-list">
                <li class="nav-list__item">
                    <a href="/" class="nav-list__anchor{% if request.path == '/' %} is-selected{% endif %}">
                        Home
                    </a>
                </li>
                {% if sections %}
                    {% for section_cat in sections %}
                        {% comment %}
                            <!-- 
                                {% content_is section_cat "Events" as is_event %}
                                {% if is_event == True %}{% endif %} 
                            -->
                        {% endcomment %}
                            <li class="nav-list__item">
                                <a href="{% pageurl section_cat.specific %}" class="nav-list__anchor">{{section_cat.title}}</a>
                            </li>
                        
                    {% endfor %}
                {% endif %}
                <li class="nav-list__item">
                    {% if not user.is_authenticated %}
                      <a href="{{REGISTRATION_URL}}" class="nav-list__anchor">Sign up</a>
                    {% else %}
                      <a href="{{VIEW_PROFILE_URL}}" class="nav-list__anchor">Profile</a>
                    {% endif %}
                  </li>
                  <li class="nav-list__item">
                    {% if not user.is_authenticated %}
                      <a href="{{ LOGIN_URL }}" class="nav-list__anchor">Log in</a>
                    {% else %}
                      <form action="{{ LOGOUT_URL }}"  method="post" novalidate>
                      {% csrf_token %}
                        <input class="nav-list__anchor" value="Log out" type="submit"/>
                      </form>
                    {% endif %}
                  </li>
            </ul>
        </div>
    </div>  
    
</div>