{% load article_tags i18n home_tags static wagtailcore_tags %}

{% section_pages as sections %}

<div class="footer">
    <div class="menu">
        <div class="heading heading--hero">
            <h3 class="heading__basic">
                {% trans "Links" %}
            </h3>
        </div>

        <div class="nav">
            <ul class="nav-list nav-list--column1">
                <li class="nav-list__item">
                    <a href="/" class="nav-list__anchor{% if request.path == '/' %} is-selected{% endif %}">{% trans "Home" %}</a>
                </li>
                {% if sections %}
                    {% for section in sections|slice:":4" %}
                        <li class="nav-list__item">
                            <a href="{% pageurl section.specific %}" class="nav-list__anchor{% if request.path == section_path %} is-selected{% endif %}">
                                {{ section.title }}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>

            <ul class="nav-list nav-list--column2">
                {% if sections %}
                    {% for section in sections|slice:"4:" %}
                        <li class="nav-list__item">
                            <a href="{% pageurl section.specific %}" class="nav-list__anchor{% if request.path == section_path %}is-selected{% endif %}">
                                {{ section.title }}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}

                {% footer_pages %}
            </ul>

            <ul class="nav-list nav-list--column3">
                <!-- {% if not user.is_authenticated %}
                    <li class="nav-list__item">
                        <a href="{% url 'user_register' %}" class="nav-list__anchor">
                            {% trans "Join us" %}
                        </a>
                    </li>
                    <li class="nav-list__item">
                        <a href="{% url 'auth_login' %}" class="nav-list__anchor">
                            {% trans "Log in" %}
                        </a>
                    </li>
                {% else %}
                    <li class="nav-list__item">
                        <a href="{% url 'view_my_profile' %}" class="nav-list__anchor">
                            {% trans "Profile" %}
                        </a>
                    </li>
                    <li class="nav-list__item">
                        <a href="{% url 'auth_logout' %}" class="nav-list__anchor">{% trans "Log out" %}</a>
                    </li>
                {% endif %} -->
            </ul>
        </div>
    </div>

    <div class="middle-column">
        <div class="social-media">
            <div class="heading heading--hero">
                <h3 class=" heading__basic">
                    {% trans "Follow us" %}
                </h3>
            </div>
            {% social_media_footer %}
        </div>
    </div>


    <div class="last-column">
        <div class="search">
            <div class="heading heading--hero">
                <h3 class=" heading__basic">
                    {% trans "Search" %}
                </h3>
            </div>
            {% include "./_search-form.html" %}
        </div>

        <div class="footer--languages">
            <ul class="languages-list">
                <li class="languages-list__item">
                    <div class="languages-list__label">
                        <h1 class="languages-list__title">{% trans "Languages:" %}</h1>
                    </div>
                </li>    
                {% include "../_patterns/_language-list.html" %}
            </ul>
        </div>


        <!-- <div class="copyright">
            <p class="copyright__disclaimer">
                &copy; {% now "Y" %} Girl Effect. {% trans "All Rights Reserved." %} 
                {% if settings.profiles.UserProfilesSettings.terms_and_conditions %}
                    <a href="{% pageurl settings.profiles.UserProfilesSettings.terms_and_conditions.specific %}" class="copyright__link">
                        Terms &amp; Conditions
                    </a>
                {% endif %}
            </p>
        </div> -->
    </div>

</div>
