{% load i18n %}

<div class="profiles">
    <div class="component">
        <div class="component__super">
            <h1 class="super-title">{% trans "PIN Changed" %}</h1>
        </div>

        <div class="component__subtitle">
            <p class="subtitle">{% trans "Your PIN has been changed sucessfully." %}</p>
        </div>

        <h4 class="subheading">
            {% trans "Your PIN has been changed sucessfully." %}
        </h4>
    </div>
    <a href="{% url 'auth_login' %}" class="call-to-action__submit">{% trans "Continue to Sign In" %}</a>
</div>
