{% load article_tags static wagtailcore_tags  %}

{% section_pages as sections %}

<div id="header" class="header">  
    {% include "../_patterns/language.html" %}
    <header id="header-wrapper" class="header-wrapper">
        <div class="menu">
            <div class="logo">
                <a href="/" class="logo__anchor">
                    <img src="{% static 'img/yegna/yegna-logo-128.png' %}" class="logo__image">
                </a>
            </div>
            <nav class="nav">
                <ul class="nav-list"> 
                    <li class="nav-list__item">
                        <a class="nav-list__anchor" id="menu" href="/">Menu</a>
                    </li>

                    {% if sections %}
                        <!-- PARENT SECTION -->
                        {% for section in sections %}
                            {% if section.get_parent|slugify == 'section-index' %}
                                <li class="nav-list__item">
                                    <a class="nav-list__anchor" id="{{ section.title|slugify }}" href="{% pageurl section %}">
                                        {{section.title}}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>

                <ul class="nav-list nav-list--search"> 
                    <li id="search" class="nav-list__item">
                        <label class="nav-list__anchor" id="search_label">
                            Search
                        </label>
                    </li>
                </ul>
            </nav>
        </div>
        {% include "../_patterns/search-input.html" with enhance="header" %}

        <!-- SECTION WITH CHILD SECTION -->
        <div class="nav__dropdown">
            {% if footer_pages %}
                <ul class="nav-list">
                    <li class="nav-list__item ">
                        <span class="nav-list__anchor nav-list__anchor-parent">
                            Our story
                        </span>
                    </li>
                    {% footer_pages %}
                </ul>
            {% endif %}

            {% if sections %}
                <ul class="nav-list nav-list--sections">
                    {% for section in sections %}
                        {% if not section.get_parent|slugify == 'section-index' %}
                            <li class="nav-list__item ">
                                <span class="nav-list__anchor nav-list__anchor-parent">
                                    {{section.get_parent}}
                                </span>
                            </li>
                            <li class="nav-list__item">
                                <a class="nav-list__anchor" id="{{ section.title|slugify }}" href="{% pageurl section %}">
                                    {{section.title}}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </header>
</div>


