{% load article_tags static wagtailcore_tags  %}

{% section_pages as sections %}

<div id="header" class="header">  
    {% include "../_patterns/language.html" %}
    <header id="header-wrapper" class="header-wrapper">
        <div class="menu">
            <div class="logo">
                <a href="/" class="logo__anchor">
                    <img src="{% static 'img/yegna/yegna-logo-128.png' %}" class="logo__image">
                </a>
            </div>
            <nav class="nav">
                <ul class="nav-list"> 
                    <li class="nav-list__item">
                        <a class="nav-list__anchor" id="menu" href="/">Menu</a>
                    </li>

                    {% if sections %}
                        {% for section in sections %}
                            <li class="nav-list__item">
                                <a class="nav-list__anchor" id="{{ section.title|slugify }}" href="{% pageurl section %}">
                                    <span>{{section.title}}</span>
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>

                <ul class="nav-list nav-list--search"> 
                    <li id="search" class="nav-list__item">
                        <a class="nav-list__anchor" id="search_label" href="#footer">
                            <label>Search</label>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</div>


