{% load wagtailcore_tags static %}

<div id="header" class="header">  
    {% include "../_patterns/language.html" %}
    <header id="header-wrapper" class="header-wrapper">
        <div class="menu">
            <div class="logo">
                <a href="/" class="logo__anchor">
                    <img src="{% static 'img/yegna/yegna-logo-128.png' %}" class="logo__image">
                </a>
            </div>
            <nav class="nav">
                <ul class="nav-list"> 
                    <li class="nav-list__item">
                        <a class="nav-list__anchor" id="menu" href="#footer">Menu</a>
                    </li>

                    {% for section in sections %}
                        {% if section.title == 'Watch' %}
                            <li class="nav-list__item">
                                <a class="nav-list__anchor" id="watch" href="#footer">
                                    <span>{{section.title}}</span>
                                </a>
                            </li>
                        {% endif %}

                        {% if section.title == 'Cast' %}
                            <li class="nav-list__item">
                                <a class="nav-list__anchor" id="cast" href="#footer">
                                    <span>{{section.title}}</span>
                                </a>
                            </li>
                        {% endif %}

                        {% if section.title == 'Listen' %}
                            <li class="nav-list__item">
                                <a class="nav-list__anchor" id="listen" href="#footer">
                                    <span>{{section.title}}</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <ul class="nav-list nav-list--search"> 
                    <li id="search" class="nav-list__item">
                        <a class="nav-list__anchor" id="search_label" href="#footer">
                            <label>Search</label>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</div>


