html, body {
    font-family: $notoSans;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
}


h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    word-wrap: break-word;
}

ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    overflow: auto;
    word-break: break-word;
    word-wrap: break-word;
}

img {
    height: auto;
    object-fit: cover;
    width: 100%;
}

iframe,
video {
    height: 390px;
    width: 100%;
}

audio  {
    width: 100%;
}


//!! IMPORTANT RULE
.yegna {
    background-color: $white;
    width: 100%;
}
