html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0 auto;
}

body {
    box-sizing: border-box;
    font-family: $muli;
    position: relative;
}

a {
    overflow: auto;
    word-break: break-word;
    word-wrap: break-word;
}

