{% load i18n %}
<div class="error-page">
    <h1 class="heading">{% trans "Page not found" %}</h1>
    <h1 class="subheading">{% trans "Sorry, this page could not be found." %}</h2>
</div>
<!-- <div class="profiles">
    <div class="component">
        <div class="component__super">
            <h1 class="super-title">{% trans "Forgot Pin" %}</h1>
        </div>
    
        <div class="component__subtitle">
            <p class="subtitle">{% trans "Not a member yet? Join us by signing up below." %}</p>
        </div>
    </div>
    <div class="profiles__inner">
        {% include "../_patterns/forgot-password-form.html" %}
    </div>
</div> -->
