{% load i18n %}

<div class="profiles">
    <div class="component">
        <div class="component__super">
            <h1 class="super-title">{% trans "Hello " %} {{ user.username }}</h1>
        </div>
        <a href="{% url 'auth_logout' %}" class="call-to-action__link">{% trans "Log out" %}</a>
        <h4 class="heading--title">
            {% trans "Your profile" %}
        </h4>

    </div>
    {% include "./account.html" %}
    <div class="profiles__inner">
        <div class="component">
            <h4 class="subheading">
                {% trans "Change Your Password" %}
            </h4>
        </div>
        {% include "../_patterns/change-password-form.html" %}
    </div>
</div>