{% load wagtailcore_tags %}

<div class="homepage">
    <div class="content">
        {% include "./sp_banner.html" with urlString='/' imagePos='one' altString='Big Sis on Springster' %}
        
        {% for post in articlepages|slice:":5" %} 
            {% include "../_patterns/article-teasers-listing.html" %}
        {% endfor %}
    
        {% include "./sp_banner.html" with urlString='/' imagePos='two' altString='Celebrate girls - Read inspiring stories' %}

        {% for form in forms %}
            {% if form.title|slugify == 'polls' %}
                {% include "./polls.html" %}
            {% endif %}
        {% endfor %}
       
        {% for post in articlepages|slice:"5:" %} 
            {% include "../_patterns/article-teasers-listing.html" %}
        {% endfor %}
    </div>  
</div>