{% load comments wagtailcore_tags i18n %}

<div class="homepage">
    <div class="content">
        {% include "./_banner.html" with urlString='/' imagePos='one' altString='Big Sis on Springster' %}

        {% for post in articlepages|slice:":5" %}
            {% include "../_patterns/article-teasers-listing.html" %}
        {% endfor %}

        {% include "./_banner.html" with urlString='/' imagePos='two' altString='Celebrate girls - Read inspiring stories' %}

        {% for form in forms %}
            {% if form.title|slugify == 'polls' %}
                {% include "./_polls.html" %}
            {% endif %}

            {% if form.title|slugify == 'yourwords' %}
                {% include "./_yourwords.html" %}
            {% endif %}
        {% endfor %}
       
        {% for post in articlepages|slice:"5:" %} 
            {% include "../_patterns/article-teasers-listing.html" %}
        {% endfor %}
    </div>
</div>
