{% load wagtailcore_tags article_tags static %}
<footer id="footer" class="footer">
    <div class="footer__inner">
        {% include "../_patterns/search-input.html" with enhance="footer" %}
        <div class="footer-menu">
            {% include "../_patterns/nav.html" with suffix="tujibebe" %}
            {% include "../_patterns/expanded_footer-nav.html" with suffix="tujibebe"  %}
        </div>
    </div>
    

    <h3 class="heading heading__micro">
        Find us elsewhere:
    </h3>

    <div class="social-media-list">
        <div class="social-media-list__item">
          <a href="https://facebook.com/tujibebe/" class="social-media-list__anchor">
            <img class="social-media-list__icon" alt="Tujibebe - Facebook" src="{% static 'img/tujibebe/fb-24.png' %}" width="24" height="24" >
            <span class="social-media-list__label">Facebook</span>
          </a>
        </div>
    </div>

    <a class="footer-logo items selected" href="/">
        <img class="footer-logo__thumbnail" alt="Tujibebe - Footer" src="{% static 'img/tujibebe/tujibebe-blue.svg' %}" width="200" height="59">
    </a>

    <div class="call-to-action call-to-action--backToTop items">
        <a href="#" class="call-to-action__nav-item-text call-to-action__nav-item-text--backToTop">
            Back to Top
        </a>
    </div>

    <div class="copyright">
        <p class="copyright__text">
            © 2021 Tujibebe. All Rights Reserved.
            <a href="/en/footer-pages/terms-and-conditions/" class="copyright__anchor">
                Terms &amp; Conditions
            </a>
        </p>
    </div>
</footer>