{% load article_tags i18n home_tags static wagtailcore_tags  %}
<footer id="footer" class="footer">
    <div class="footer__inner">
        {% include "../_patterns/search-input.html" with enhance="footer" %}
        <div class="footer-menu">
            {% include "../_patterns/nav.html" with suffix="tujibebe" %}
            {% include "../_patterns/expanded_footer-nav.html" with suffix="tujibebe"  %}
        </div>
    </div>


    <h3 class="heading heading__micro">
        {% trans "Find us elsewhere:" %}
    </h3>

    {% social_media_footer %}

    <a class="footer-logo items selected" href="/">
        <img class="footer-logo__thumbnail" alt="Tujibebe - Footer" src="{% static 'img/tujibebe/tujibebe-blue.svg' %}" width="200" height="59">
    </a>

    {% include "../_patterns/language.html" with position="bottom" %}
    
    <div class="call-to-action call-to-action--backToTop items">
        <a href="#" class="call-to-action__nav-item-text call-to-action__nav-item-text--backToTop">
            {% trans "Back to Top" %}
        </a>
    </div>

    <div class="copyright">
        <p class="copyright__text">
            © {% now "Y" %} Tujibebe. {% trans "All Rights Reserved." %}
            <a href="/en/footer/terms-and-conditions/" class="copyright__anchor">
                Terms &amp; Conditions
            </a>
        </p>
    </div>
</footer>
