{% load article_tags i18n wagtailcore_tags wagtailimages_tags  %}


<div class="component-title">
    <div class="component-title__super">
        <h1 class="heading heading--primary">
            {% trans "Yegna launched the first ever teen TV Drama in Ethiopia" %}
        </h1>
    </div>
    {% include "./banner.html" %}
</div>


<div class="homepage">
    <div class="homepage__inner">

        <div class="homepage__column-main">
            <div class="heading-full">
                <h2 class="heading__title">{% trans "Yegna news" %}</h2>
            </div>

            <div class="article-teasers">
                {{ articlepages }}
                {% for post in articlepages %}
                    {% if post.feature_in_homepage %}
                        {{post}}
                        {% include "../_patterns/article-teasers-listing_inner.html" %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="homepage__column-side">
            <div class="heading-mid">
                <h2 class="heading__title"><h2 class="heading__title">{% trans "Meet the characters" %}</h2>
            </div>
        </div>

    </div>
</div>