{% load i18n wagtailcore_tags %}

{% block extra_css %}
    <style>
        body.yegna {
            background: url('https://standard-wagtail.prd-hub.ie.gehosting.org/static/img/yegna/home-bg.svg') no-repeat center/100%;
        }
    </style>
{% endblock %}

<div class="homepage">
    <div class="component-title">
        <div class="component-title__super">
            <h1 class="heading heading--primary">
                {% trans "Yegna launched the first ever teen TV Drama in Ethiopia" %}
            </h1>
        </div>
    </div>

    {% include "./_banner.html" %}

    <div class="homepage__inner">
        <div class="homepage__column-main">
            <div class="heading-full">
                <h2 class="heading__title">{% trans "Yegna news" %}</h2>
            </div>

            <div class="teaser-stacklist teaser-stacklist--featured-main">
                {% for post in articlepages %}
                    {% if not post.get_parent|slugify == 'cast' %}
                        {% if post.feature_in_homepage %}
                            {% include "./_article-teasers.html" %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="homepage__column-side">
            <div class="heading-mid">
                <h2 class="heading__title">{% trans "Meet the characters" %}</h2>
            </div>
            <div class="teaser-stacklist">
                {% for post in articlepages %}
                    {% if post.get_parent|slugify == 'cast' %}
                        {% if post.feature_in_homepage %}
                            {% with post=post.specific %}
                                {% include "./_article-teasers.html" %}
                            {% endwith %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
</div>
