{% load wagtailcore_tags wagtailimages_tags article_tags static theme_tags i18n %}

{% if post.feature_in_homepage %}  
    {% with post=post.specific %}
        <div class="teaser-stacklist__item">
            {% if post.image %}
                <div class="teaser-stacklist__thumbnail">
                    {% image post.image width-1080 as article_image %}
                    <a href="{% pageurl post %}" class="teaser-stacklist__thumbnail-link">
                        <img alt="{{ post.title }}" src="{{ article_image.url }}" class="teaser-stacklist__image"/>
                    </a>
                </div>
            {% endif %}

            <div class="teaser-stacklist__content">
                <a href="{% pageurl post %}" class="teaser-stacklist__anchor">
                    <h3 class="teaser-stacklist__title">{{ post.title }}</h3>
                </a>
                <p class="teaser-stacklist__subtitle"> {{ post.subtitle }}</p>
                <div class="call-to-action">
                    <a href="{% pageurl post %}" class="call-to-action__read-more">
                        {% trans "Read more" %}
                    </a>
                </div>
            </div> 

        </div>
    {% endwith %}
{% endif %}




