{% extends "base.html" %}
{% load static wagtailcore_tags theme_tags %}



{% block title %}{% if theme.slug == 'ninyampinga' %}Ninyampinga | {% elif theme.slug == 'springster' or theme.slug == 'default' %}Springster | {% elif theme.slug == 'yegna' %}Yegna | {% elif theme.slug == 'zathu' %}Zathu | {% endif %} Search{% endblock %}
{% block content %}
   <div class="content">
    {% if theme.slug == 'ninyampinga' %}
        Ninyampinga 
    {% elif theme.slug == 'springster' or theme.slug == 'default' %}
        {% include "springster/search.html" %}
    {% elif theme.slug == 'yegna' %}
    
    {% elif theme.slug == 'zathu' %}
    
    {% endif %}
    </div>
{% endblock %}
