$dark_grayish_blue: #a3a7ae;
$dark_gray: #656d78;
$light_gray: #f0f3f5;
$violet: #7300ff;
$pale_violet: #e3ccff;
$white: #ffffff;
$soft_cyan: #6be6e6;
$light_yellow: #ffe654;
$light_orange: #ff9f73;
$pale_red: #ffa4b8;
$lime_green: #a4eed2;


html, body {
    background-color: $dark_grayish_blue;
    margin: 0 auto;
}

body {
    box-sizing: border-box;
    font-size: 16px;
}

ul, ol, li {
    margin: 0;
    padding: 0;
}

.header-wrapper {
    background-color: $violet;
    font-family: BatonRegular,Helvetica,Arial,sans-serif;
    margin: 0 auto;
    max-width: 360px;
    position: relative;
    outline: 0;
}

.header {
    padding: 10px 10px 5px;
}

.menu {
    overflow: auto;
    text-align: center;
    &-list {
        align-items: center;
        display: flex;
        list-style: none;
        justify-content: space-between;
        &__item {
            display: inline-block;
        }
        &__anchor {
            color: $white;
            text-decoration: none;
        }
    } 
}

.nav {
    text-align: center;
    &-list {
        list-style-type: none;
        &__item {
            display: inline-block;
            padding: 10px 15px 5px 0;
        }
        &__anchor {
            color: $pale_violet;
            text-decoration: none;
            &.selected {
                border-bottom: 2px solid $pale_violet;
            }
        }
        &__my-life {
            color: $soft_cyan;
            &.selected {
                border-bottom-color: $soft_cyan;
            }
        }
        &__my-body {
            color: $light_yellow;
            &.selected {
                border-bottom-color: $light_yellow;
            }
        }
        &__my-future {
            color: $light_orange;
            &.selected {
                border-bottom-color: $light_orange;
            }
        }
        &__girl-stories {
            color: $pale_red;
            &.selected {
                border-bottom-color: $pale_red;
            }
        }
    }
}

#profile {
    background: url('http://127.0.0.1:8000/static/img/springster/avatar.svg')  no-repeat 3px 0 / auto 95%;;
    cursor: pointer;
    height: 25px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    width: 28px;
    vertical-align: middle;
    text-indent: 120%;
}

#search {
    background: url('http://127.0.0.1:8000/static/img/springster/nav_search.svg')  no-repeat 3px 0 / auto 95%;
    cursor: pointer;
    text-indent: 120%;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    width: 28px;
    padding: 0;
    height: 25px;
}


.content {
    background: $white;
    max-width: 360px;
    margin: 0 auto;
}

.banner {
    &__image {
        display: block;
        width: 100%;
    }
}



.footer {
    background: $white;
    margin: 0 auto;
    max-width: 360px;
    &__springster {
        background: url('http://127.0.0.1:8000/static/img/springster/bottom-div-1@2x.png') no-repeat 0 100% / contain, url('http://127.0.0.1:8000/static/img/springster/top-div-2@2x.png') no-repeat 0 0 / contain;
        background-color: $lime_green;
        padding: 12px 8px;
    }
   
    &-logo {
        display: inline-block;
        margin: 18px auto;
        text-align: center;
        &__thumbnail {
            border: 0;
            height: auto;
            width: 50%;
        }
    }

    p {
        margin: 0;
    }
}

.social-media-footer-list {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0 0 15px;
    &__item {
        display: inline-block;
        vertical-align: middle;
        padding: 0 8px;
    }
    &__anchor {
        img {
            vertical-align: middle;
            margin-right: 4px;
        }
    }
}

.copyright {
    text-align: center;
    font-size: 12px;
    padding-bottom: 5px;
    color: $dark_gray;
    &__text {
        color: $dark_gray;
    }
    &__anchor {
        color: $dark_gray;
        text-decoration: underline;
    }
}

.call-to-action {
    &--backToTop {
        background: $light_gray;
        padding: 20px 0 18px 0;
    }
    &__nav-item-text--backToTop {
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: underline;
        color: $violet;
        font-size: 16px;
        font-weight: 700;
        position: relative;
        text-align: center;
        display: block;
        &:after {
            background-image: url('http://127.0.0.1:8000/static/img/springster/up-arrow.svg');
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: auto 100%;
            position: absolute;
            content: '';
            height: 24px;
            width: 24px;
            top: 0;
            margin-left: 10px;
        }
    }
}


.heading__micro {
    margin: 20px 0;
    text-align: center;
    .para {
        display: inline-block;
        font-size: 18px;
        text-transform: uppercase;
        color: $dark_gray;
    }
}