$dark_grayish_blue: #a3a7ae;
$violet: #7300ff;
$pale_violet: #e3ccff;
$white: #ffffff;
$soft_cyan: #6be6e6;
$light_yellow: #ffe654;
$light_orange: #ff9f73;
$pale_red: #ffa4b8;


html, body {
    background-color: $dark_grayish_blue;
    margin: 0 auto;
}

body {
    box-sizing: border-box;
    font-size: 16px;
}

ul, ol, li {
    margin: 0;
    padding: 0;
}

.header {
    background-color: $violet;
    font-family: BatonRegular,Helvetica,Arial,sans-serif;
    margin: 0 auto;
    max-width: 360px;
    padding: 10px 10px 5px;
    position: relative;
    outline: 0;
}

.menu {
    overflow: auto;
    text-align: center;
    &-list {
        align-items: center;
        display: flex;
        list-style: none;
        justify-content: space-between;
        &__item {
            display: inline-block;
        }
        &__anchor {
            color: $white;
            text-decoration: none;
        }
    } 
}

.nav {
    text-align: center;
    &-list {
        list-style-type: none;
        &__item {
            display: inline-block;
            padding: 10px 15px 5px 0;
        }
        &__anchor {
            color: $pale_violet;
            text-decoration: none;
        }
        &__my-life {
            color: $soft_cyan;
        }
        &__my-body {
            color: $light_yellow;
        }
        &__my-future {
            color: $light_orange;
        }
        &__girl-stories {
            color: $pale_red;
        }
    }

}

#profile {
    background: url('http://127.0.0.1:8000/static/img/springster/avatar.svg')  no-repeat 3px 0 / auto 95%;;
    cursor: pointer;
    height: 25px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    width: 28px;
    vertical-align: middle;
    text-indent: 120%;
}

#search {
    background: url('http://127.0.0.1:8000/static/img/springster/nav_search.svg')  no-repeat 3px 0 / auto 95%;
    cursor: pointer;
    text-indent: 120%;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    width: 28px;
    padding: 0;
    height: 25px;
}