html, body {
    background-color: $dark_gray_blue;
}

body {
    box-sizing: border-box;
    color: #000;
    font-family: 'Baton-Turbo-Regular';
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol, li {
    margin: 0;
    padding: 0;
}

//!! IMPORTANT RULE
.springster {
    margin: 0 auto;
    width: 360px;
}