{% load i18n wagtailcore_tags %}

<div class="polls">
    <div class="polls__icon">
        <p class="polls__label"> {% trans "Cast Your Vote!" %}</p>
    </div>
    <div class="polls__inner polls__inner--results">
        <h1 class="forms__title">{{page.title}}</h1>
        <p class="forms__subtitle">
            {% if page.thank_you_text %}
                {{ page.thank_you_text|richtext }}
            {% else %}
                {% trans "Thank you" %}
            {% endif %}
        </p>
    </div>
</div>