{% load static wagtailcore_tags %}

{% if search_results %}
    <div class="article-teaser">
        <div class="teaser-stacklist">
            {% for post in search_results %}
                {% with post=post.specific %}
                    {% with item=post.body|first %}
                        <div class="teaser-stacklist__item{% if theme.slug == 'springster' %}{% if item.block_type == 'image' %} teaser-stacklist__item--split{% endif %}{% endif %}{% if theme.slug == 'zathu' %}{% if forloop.first %} teaser-stacklist__item--full-width{% endif %}{% endif %}">
                            {% if item.block_type == 'image' %}
                                <div class="teaser-stacklist__thumbnail">
                                    <a href="{% pageurl post %}" class="teaser-stacklist__thumbnail-link">
                                        {{ item }}
                                    </a>
                                </div>
                            {% endif %}

                            <div class="teaser-stacklist__content{% if theme.slug == 'springster' %}{% if item.block_type == 'image' %} teaser-stacklist__content--split{% endif %}{% endif %}">
                                <a href="{% pageurl post %}" class="teaser-stacklist__anchor">
                                    <h3 class="teaser-stacklist__title">{{ post.title }}</h3>
                                </a>
                                <p class="teaser-stacklist__subtitle"> {{ post.search_description }}</p>
                            </div>  
                        </div>
                    {% endwith %} 
                {% endwith %}
            {% endfor %}
        </div>
    </div>
  
    {% if search_results.has_previous %}
        <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
    {% endif %}

    {% if search_results.has_next %}
        <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
    {% endif %}
{% elif search_query %}
    No results found
{% endif %}