@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;500;600;700&display=swap');
html, body {
    background-color: #333333;
    font-family: 'Signika', Arial, sans-serif;
}

body.zathu {
    background-color: #fff;
    margin: 0 auto;
    width: 320px;
}

a {
    color: #412a83;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    color: #412a83;
}
/* LANGUAGES */
.languages {
    background-color: #f3f4f1;
    padding: 5px 8px;
    margin: 0 auto;
    text-align: center;
}
.languages-list__item {
    display: inline-block;
    margin: 0 3px 0;
}

.languages-list__anchor {
    color: #7a7a7a;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

/* HEADER */
.header {
    background-color: #ffed00;
    padding: 5px 8px;
}

.logo__image {
    height: auto;
    max-width: 100px;
    width: 100%;
}

.menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nav-list__item {
    display: inline-block;
}
.nav-list__anchor {
    color: #412a83;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}


/* PAGES */

.homepage {
    background-color: #fff;
}

.section-page__banner {
    background-color: #412a83;
    padding: 10px 8px;
}
.section-page__title {
    color: #ffed00;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
}

/* ARTICLE TEASERS */
.teaser-stacklist__item--full-width .teaser-stacklist__content {
    padding: 15px 20px;
}

.teaser-stacklist__title {
    color: #412a83;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 15px 0;
    text-transform: uppercase;
}
.teaser-stacklist__item--full-width .teaser-stacklist__title {
    font-size: 26px;
    line-height: 32px;
}