{% load i18n wagtailcore_tags %}

<div class="forms-page forms-page--main">
    <div class="forms-page__icon"></div>
    <div class="forms-page__results">
        <h1 class="forms-page__title">{{page.title}}</h1>
        <p class="forms-page__subtitle">
            {% if page.thank_you_text %}
                {{ page.thank_you_text|richtext }}
            {% else %}
                {% trans "Thank you" %}
            {% endif %}
        </p>
    </div>

    <div class="call-to-action call-to-action--full">
        <a href="/" class="call-to-action__back">
            {% trans "Back home" %} 
        </a>
    </div>

</div>