{% extends "base.html" %}
{% load wagtailcore_tags article_tags theme_tags home_tags i18n %}

{% block content %}
{% get_current_theme as theme %}
    {% if theme.slug == 'ninyampinga' %}
    {% include "./ninyampinga/articlepage.html" %}
    {% elif theme.slug == 'springster' %}
        {% include "./springster/article.html" %}
    {% elif theme.slug == 'yegna' %}
        {% breadcrumbs %}
    {% elif theme.slug == 'zathu' %}
        {% include "./zathu/article.html" %}
    {% endif %}

    <p><a href="{{ page.get_parent.url }}">{% trans 'Return to section'%}</a></p>

{% social_media_article %}
{% endblock %}
