{% extends "base.html" %}
{% load wagtailcore_tags article_tags i18n %}

{% block body_class %}article-page{% endblock %}
{% block content %}
    {% if brand == 'springster' %}
        {% include "./springster/article.html" %}
    {% endif %}
    
    
    {% get_next_article page as next_article %}
    {% if next_article %}
      {% trans 'Next Article: '%}
      <p><a href="{{ next_article.url }}">{{ next_article.title }}</a></p>
    {% endif %}


    <p><a href="{{ page.get_parent.url }}">{% trans 'Return to section'%}</a></p>

{% endblock %}
