{% extends "base.html" %}

{% block content %}
    {% if theme.slug == 'ninyampinga' %}
        {% include "./ninyampinga/section.html" %}
    {% elif theme.slug == 'springster' %}
        {% include "./springster/section.html" %}
    {% elif theme.slug == 'tujibebe' %}
        {% include "./tujibebe/section.html" %}
    {% elif theme.slug == 'yegna' %}
        {% include "./yegna/section.html" %}
    {% elif theme.slug == 'zathu' %}
        {% include "./zathu/section.html" %}
    {% endif %}
{% endblock %}
