{% load wagtailcore_tags wagtailimages_tags article_tags static theme_tags i18n %}

<div class="teaser-stacklist__item">
    {% if post.image %}
        <div class="teaser-stacklist__thumbnail">
            {% image post.image width-1080 as article_image %}
            <a href="{% pageurl post %}" class="teaser-stacklist__thumbnail-link">
                <img alt="{{ post.title }}" src="{{ article_image.url }}" class="teaser-stacklist__image"/>
            </a>
        </div>
    {% endif %}

    <div class="teaser-stacklist__content">
        <a href="{% pageurl post %}" class="teaser-stacklist__anchor">
            <span class=" teaser-stacklist__label">{{ post.get_parent }}</span>
        </a>
       
        <a href="{% pageurl post %}" class="teaser-stacklist__anchor">
            <h3 class="teaser-stacklist__title">{{ post.title }}</h3>
        </a>
        {% if post.subtitle %}
            <p class="teaser-stacklist__subtitle"> {{ post.subtitle }}</p>
        {% endif %}
        <div class="call-to-action">
            <a href="{% pageurl post %}" class="call-to-action__button">
                {% trans "See more" %}
            </a>
        </div>
    </div> 
</div>