{% load i18n %}

<form method="post" action="{% url 'forgot_password' %}" class="profiles__form">
{% csrf_token %}
    {% if form.errors %}
        <ul class="error-list">
            {% for key, errors in form.errors.items %}
                {% for error in errors %}
                    <li class="error-list__item">{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
    <fieldset>
        {% for field in form %}
            {{ field.label_tag }} {{ field }}
            <div class="security">
                {% if forloop.counter == 1 %}
                    <h4 class="heading__micro">{% trans "Security question" %}</h4>
                    <p>{% trans "Please answer the following security question." %}</p>
                {% endif %}
            </div>
        {% endfor %}
    </fieldset>
    <div class="call-to-action">
        <input type="submit" value="{% trans 'Forgot PIN' %}" class="call-to-action__submit"/>
    </div>
</form>