{% load i18n %}

<form method="post" action="{% url 'registration_done' %}" instance={{request.user.profile}} class="profiles__form">
{% csrf_token %}
    <fieldset>
        <label for="date_of_birth">{% trans "Date of birth" %}</label>
        <div class="input-group dropdowns">
            {{ form.date_of_birth }}
        </div>
    </fieldset>

    <fieldset>
        <label for="id_location">{% trans "Gender" %}</label>
        <div class="input-group">
            {{ form.gender }}
        </div>
    </fieldset>

    <fieldset>
        <label for="id_location">{% trans "Location" %}</label>
        <div class="input-group">
            {{form.location}}
        </div>
    </fieldset>
    <div class="call-to-action">
        <input type="submit" value="{% if theme.slug == 'ninyampinga' or theme.slug == 'tujibebe' or theme.slug == 'yegna' %}{% trans 'Update' %}{% elif theme.slug == 'springster' %}{% trans 'Save' %}{% elif theme.slug == 'zathu' %}{% trans 'Update' %}{% endif %}" class="call-to-action__submit"/>
    </div>
</form>
