{% load i18n %}
<form method="post" action="{% url 'registration_done' %}" instance={{request.user.profile}}>
{% csrf_token %}
    <fieldset>
        <label for="date_of_birth">{% trans "Date of birth" %}</label>
        <div class="dropdowns">
            {{ form.date_of_birth }}
        </div>
    </fieldset>

    <fieldset>
        <label for="id_location">{% trans "Gender" %}</label>
        {{ form.gender }}
    </fieldset>

    <fieldset>
        <label for="id_location">{% trans "Location" %}</label>
        {{form.location}}
    </fieldset>
    <input type="submit" value="{% trans 'Save' %}" class="call-to-action__submit"/>
</form>
