{% load static wagtailsettings_tags wagtailcore_tags i18n %}
{% get_settings %}

<form method="post" action="{% url 'user_register' %}" class="profiles__form">
    {% csrf_token %}
    {% for field in form %}
        <fieldset {% if field.name == "terms_and_conditions" %}class="profiles__split"{% endif %}>
            {{ field.errors }}
            {{ field.label_tag }} 
            {{ field }}
            {% if field.name == "terms_and_conditions" %}
                {% if settings.profiles.ProfileSettings.terms_and_conditions %}
                    <a href="{% pageurl settings.profiles.ProfileSettings.terms_and_conditions %}" class="terms_and_conditions-link">
                        I accept the Terms and Conditions
                    </a>
                {% endif %}
            {% endif %}
        </fieldset>
    {% endfor %}
    <div class="call-to-action">
        <input type="submit" value="{% trans 'Sign up' %}" class="call-to-action__submit" />
    </div>
  </form>
