{% load article_tags i18n home_tags static theme_tags wagtailcore_tags %}

<footer id="footer" class="footer">
    <div class="footer__inner">
        {% include "../_patterns/search-input.html" with enhance="footer" %}
        <div class="footer-menu">
            {% include "../_patterns/nav.html" with suffix="springster" %}
            {% include "../_patterns/expanded_footer-nav.html" with suffix="springster"  %}
        </div>
    </div>


    <h3 class="heading heading__micro">
        {% trans "Find us elsewhere:" %}
    </h3>
    {% social_media_footer %}

    <a class="footer-logo items selected" href="/">
        <img class="footer-logo__thumbnail" alt="Springster Logo - Footer" src="{% static 'img/springster/sp-footer-logo.png' %}" width="200" height="59">
    </a>

    {% include "../_patterns/language.html" with position="bottom" %}

    <div class="call-to-action call-to-action--backToTop items">
        <a href="#" class="call-to-action__nav-item-text call-to-action__nav-item-text--backToTop">
            {% trans "Back to Top" %}
        </a>
    </div>

    <div class="copyright">
        <p class="copyright__text">
            © {% now "Y" %} Springster. {% trans "All Rights Reserved." %}
            {% if settings.home.SiteSettings.terms_and_conditions %}
                <a href="{% pageurl settings.home.SiteSettings.terms_and_conditions.localized  %}" 
                    class="copyright__link">
                    Terms &amp; Conditions
                </a>
            {% endif %}
        </p>
    </div>
</footer>
