{% load wagtailcore_tags article_tags static %}
<div id="header" class="header">  
    <header id="header-wrapper" class="header-wrapper">
        <div class="menu">
            <ul class="menu-list">
                <li id="profile" class="menu-list__item">
                    {% if not user.is_authenticated %}
                        <a  href="{{REGISTRATION_URL}}" class="menu-list__anchor">
                            Sign up
                        </a>
                    {% else %}
                        <a  href="{{VIEW_PROFILE_URL}}" class="menu-list__anchor">
                            Profile
                        </a>
                    {% endif %}
                </li>
                <li class="menu-list__item">
                    <a href="/" class="menu-list__anchor logo logo--center">
                        <img alt="Springster" src="{% static 'img/springster/springster-logo.svg' %}" width="97" height="24">
                    </a>
                </li>
                <li id="search" class="menu-list__item">
                    <a class="menu-list__anchor">
                        <label for="search-toggle">Search</label>
                    </a>
                </li>
            </ul>
        </div>

        {% include "../_patterns/search-input.html" with enhance="header" %}
        {% include "../_patterns/nav.html" with suffix="springster" %}
    </header>
</div>