{% load i18n wagtailcore_tags wagtailimages_tags %}

<div class="homepage">
    <!-- FIRST BANNER POSITION -->
    {% if page.banners %}
        {% for banner in page.banners %}
            {% if forloop.counter == 1 %}
                {% include "../_patterns/banner.html" %}
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="homepage-column {% if articlepages_in_menu.count == 0 %} homepage-column--with-side-bar{% endif %}">
        <div class="homepage-column__one">
            <div class="heading heading--hero">
                <h3 class="heading__basic">
                    {% trans "Latest articles" %} 
                </h3>
            </div>

            {% if articlepages %}
                <div class="article-stacklist">
                    {% for post in articlepages %}
                        {% if post.feature_in_homepage %}
                            {% with post=post.specific %}
                                {% include "./article-teasers-listing_inner.html" %}
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        {% comment %} 
            <!-- 
                !!
                IF article is NOT feature_in_homepage because feature_in_homepage TAKES PRECEDENCE and will be included in  <div class="homepage-column__one"> about.
                AND article is show_in_menus ENABLED  will be shown on the sidebar.
            -->
        {% endcomment %}
        {% for post in articlepages_in_menu %}
            {% if not post.feature_in_homepage %}
                <div class="homepage-column__two">
                    <div class="heading heading--hero">
                        <h3 class="heading__basic">
                            {% trans "Announcement" %} 
                        </h3>
                    </div>
                    <div class="article-hero">
                        {% include "./article-teasers-listing_inner.html" %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

     <!--ALL OTHER BANNERS POSITION -->
    {% if page.banners %}
        {% for banner in page.banners %}
            {% if not forloop.counter == 1 %}
                {% include "../_patterns/banner.html" %}
            {% endif %}
        {% endfor %}
    {% endif %}

    <!-- FORMS BANNER -->
     {% for form in forms %}
        {% include "../_patterns/forms-page.html" %}
    {% endfor %}
</div>
