//HOMEPAGE ARTICLE TEASERs
.article {
    &-stacklist {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        padding: 15px;
        @media (min-width: 991px) {
            padding: 15px 70px;
        }
    }
    &-hero {
        overflow: auto;
    }
}


.teaser-stacklist {
    overflow: auto;
    &__thumbnail {
        width: 50%;
        @media (min-width: 991px) {
            width: auto;
        }
    }
    &__image {
        height: auto;
        width: 100%;
        @media (min-width: 991px) {
            min-width: 430px;
            max-width: 430px;
        }
    }
    &__thumbnail,
    &__images {
        display: inline-block;
        margin: 0 30px 0 0;
        overflow: hidden;
        @media (min-width: 991px) {
            height: 250px;
            width: 430px;
        }
        &-link {
            display: block;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__item {
        align-items: flex-start;
        display: flex;
        justify-content: flex-start;
        margin: 0 0 20px 0;
        overflow: hidden;
        width: auto;
        &--full-width {
            @media (min-width: 991px) { 
                float: left;
                margin: 0 5% 20px 0;
                overflow: hidden;
                width: 65%;

                .teaser-stacklist__image  {
                    height: auto;
                    width: 100%;
                }
            }
        }
    }
    &__anchor {
        display: block;
        text-decoration: none;
    }
    &__title {
        color: #000;
        font-size: $standard;
        padding: 10px 0;
        text-transform: uppercase;
    }
    &__subtitle {
        padding: 5px 0 10px;
        font-size: $standard;
    }
    &__content {
        padding: 15px 0;
        width: 45%;
        @media (min-width: 991px) {
            width: auto;
        }
    }
 }