.article-page {
    &__body {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 15px;
        justify-content: center;
        @media screen and (min-width: 991px) {
            padding: 15px 15%;
        }
    }
    &__recommendations {
        padding: 15px 10px;
        @media screen and (min-width: 991px) {
            padding: 15px 8%;
        }
        .article-teaser {
            padding: 20px 0;
        }
    }
}


.block-image {
    padding: 10px 0;
}
.block-paragraph {
    p {
        padding: 10px 0; 
    }
}