.breadcrumbs {
    padding: 10px 10px 25px;
    @media screen and (min-width: 991px) {
        padding: 20px 6.5%;
        &:first-child {
            padding: 50px 6.5% 25px;
        }
    }
    &-list {
        list-style-type: none;
        &__item {
            color: $gray;
            display: inline-block;
            margin: 0;
            font-size: $medium_small;
            text-transform: capitalize;
        }
       
        &__anchor {
            color: $pink;
            cursor: pointer;
            font-size: $medium_small;
            margin: 0;
            text-decoration: underline;
            text-underline-position: under;
            text-transform: capitalize;
            &:after {
                color: $pink;
                content: "/";
                display: inline-block;
                padding: 0 5px;
            }
        }
        &__label {
            color: $pink;
            cursor: auto;
            font-size: $medium_small;
            margin: 0;
            text-decoration: none;
            text-underline-position: under;
            text-transform: capitalize;
        }
    }
}