.burger-icon {
    width: 35px;
    display: inline-block;
    padding: 0 10px 0 0;
    span {
        background-color: #fff;
        display: block;
        margin: 6px 0;
        height: 5px;
        width: 35px;
    }
}
