.burger-icon {
    display: inline-block;
    margin: 0 10px 0 0;
    width: 23px;
    @media (min-width: 991px) {
        width: 35px;
    }
    span {
        background-color: #fff;
        display: block;
        margin: 6px 0;
        height: 4px;
        width: 23px;
        @media (min-width: 991px) {
            height: 5px;
            width: 35px;
        }
    }
}
