.error-page {
    align-items: center;
    background-color: $white;
    display: flex;
    margin: 0 auto;
    padding: 10px 15px;
    justify-content: center;
    width: 100%;
    .heading {
        font-size: 36px;
        margin: 0;
        padding: 20px 0;
    }

    .subheading {
        font-size: 27px;
        margin: 0;
        padding: 20px 0;
    }
}
