.footer {
    align-items: flex-start;
    background-color: $plum;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3em 5% 1em;
    overflow: auto;
    overflow: auto;

    //NAVIGATION
    .nav {
        align-items: flex-start;
        &-list {
            display: inline-block;
            margin: 0 10px 0 0;
            max-width: 250px;
            vertical-align: top;
           
            &__item {
                display: block;
                padding: 5px;
            }
          
            &__anchor {
                background-color: transparent;
                border: none;
                color: $light_cyan;
                display: block;
                font-size: 16px;
                margin: 0;
                overflow: auto;
                padding: 0;
                text-decoration: underline;
                text-transform: uppercase;
                word-wrap: break-word;
                word-break: initial;
            }
        }
    }

    .search__form {
        width: 100%;
    }
}