.homepage {
    overflow: auto;
    padding: 10px 0;
    position: relative;
    .article-stacklist {
        display: block;
        padding: 15px 70px;
    }

    .teaser-stacklist {
        &__thumbnail img,
        &__images img {
            height: 153px;
            width: 272px;
        }
        &__item {
            display: inline-block;
            list-style: none;
            margin: 0 30px 20px 0;
            width: auto;
            &--full-width {
                float: left;
                overflow: hidden;
                width: 65%;
                margin: 0 5% 20px 0;
                .teaser-stacklist__thumbnail img, 
                .teaser-stacklist__images img {
                    height: auto;
                    width: 100%;
                }
            }
        }
    }
}