.languages {
    &__label {
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: $standard;
        text-transform: uppercase;
        padding: 10px 20px;
        height: 45px;
        &:before {
            background-image: url($staticPath + '/img/ninyampinga/header-icons.png');
            background-position: 0 -75px;
            background-size: 45px;
            background-repeat: no-repeat;
            content: "";
            display: inline-block;
            height: 50px;
            vertical-align: middle;
            width: 50px;
        }
        &:hover,
        &:focus {
            color: $pink;
        }
        &.is-active {
            background-color: #fff;
            color: $pink;
        }
    }
    &__checkbox {
        display: none;
        visibility: hidden;
    }

    &-dropdown {
        background-color: $white;
        box-shadow: 1px 10px 15px -10px #000;
        color: $strong_cyan;
        height: auto;
        left: 0;
        margin: 0 auto;
        padding: 60px 10% 45px 20%;
        position: absolute;
        right: 0;
        top: 65px;
    }
    
    &-list {
        &__item {
            display: inline-block;
            padding: 5px;
        }
        &__label {
            padding-right: 35px;
            &:before {
                background-image: url($staticPath + '/img/ninyampinga/header-icons.png');
                background-position: 0 -75px;
                background-size: 45px;
                background-repeat: no-repeat;
                content: "";
                display: inline-block;
                height: 50px;
                vertical-align: middle;
                width: 50px;
            }
        }
        &__title {
            color: #000;
            display: inline-block;
            font-size: $medium_large;
            font-weight: 100;
            text-transform: uppercase;
            vertical-align: middle;
        }
        &__anchor {
            color: $pink;
            .is-active {
                color: $dark_grey;
            }
        }
    }
}