.nav {
    align-items: center;
    background-color: #711343;
    display: inline-flex;
    float: left;
    vertical-align: middle;
    @media (min-width: 991px) {
        display: flex;
        float: inherit;
        order: 1;
    }
   
    &__label {
        align-items: center;
        color: #fff;
        cursor: pointer;
        display: flex;
        font-size: $default;
        text-transform: uppercase;
        padding: 5px;
        @media (min-width: 991px) {
            font-size: $standard;
            padding: 10px 20px 10px 15px;
            height: 45px;
        }
        &:before {
            content: "";
            display: none;
            vertical-align: middle;
            @media (min-width: 991px) {
                height: 40px;
                width: 45px;
            }
        }
        &:hover,
        &:focus {
            color: $pink;
            .burger-icon span {
                background-color: $pink;
            }
            &:before {
                display: none;
            }
        }
        &.is-active {
            color: $pink;
            text-decoration: underline;
            @media (min-width: 991px) {
                background-color: $white;
            }
            .burger-icon {
                display: none;
            }
            &:before {
                background-image: url($staticPath + '/img/ninyampinga/header-icons.png');
                background-position: 0 -115px;
                background-size: 25px;
                background-repeat: no-repeat;
                display: block;
                height: 20px;
                padding: 5px;
                width: 25px;
                @media (min-width: 991px) {
                    background-position: 0 -155px;
                    background-size: 35px;
                    height: 40px;
                    padding: initial;
                    width: 45px;
                }
            }
        }
    }
   
    &__checkbox {
        display: none;
        visibility: hidden;
    }

    &__title {
        color: #000;
        font-size: $medium;
        text-transform: uppercase;
        text-align: left;
        @media (min-width: 991px) {
            padding: 0 0 25px;
        }
    }

    
    &-dropdown {
        background-color: $white;
        box-shadow: 1px 10px 15px -10px #000;
        color: $strong_cyan;
        height: auto;
        left: 0;
        margin: 0 auto;
        padding: 15px;
        position: absolute;
        right: 0;
        top: 165px;
        @media (min-width: 991px) {
            padding: 60px 10% 45px 20%;
            top: 65px;
        }
    }

    &-profile {
        margin: 0 0 0 20px;
        &__anchor {
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-size: $default;
            text-transform: uppercase;
            text-decoration: none;
            padding: 10px;
            @media (min-width: 991px) {
                font-size: $standard;
                padding: 10px 15px;
                height: 45px;
            }
            &:before {
                background-image: url($staticPath + '/img/ninyampinga/iconsSprite.png');
                background-position: 0 -405px;
                background-size: 60px;
                background-repeat: no-repeat;
                content: "";
                display: inline-block;
                height: 45px;
                vertical-align: middle;
                width: 36px;
                @media (min-width: 991px) {
                    background-position: 0 -644px;
                    background-size: 93.3px;
                }
            }
            &:hover, &:focus {
                color: $pink;
                &:before {
                    background-image: url($staticPath + '/img/ninyampinga/header-icons.png');
                    background-position: 0 -90px;
                    background-size: 30px;
                    @media (min-width: 991px) {
                        background-position: -5px -140px;
                        background-size: 44px;
                    }
                }
            }
        }
    }

    &-lang-and-search {
        align-items: center;
        background-color: #711343;
        display: inline-flex;
        float: right;
        vertical-align: middle;
        @media (min-width: 991px) {
            display: flex;
            float: inherit;
            order: 3;
        }
    }
    
    &-list {
        text-align: left;
        &__item {
            margin: 10px 0;
        }
        &__anchor {
            color: #000;
            cursor: pointer;
            font-size: $default;
            text-transform: uppercase;
            @media (min-width: 991px) {
                font-size: $medium;
            }
        }
    }

    &-primary {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @media (min-width: 991px) {
            flex-direction: row;
            min-height: 333px;
        }
       
        &-column {
            @media (min-width: 991px) {
                min-height: 333px;
            }
            &-one {
                padding: 0 0 15px;
                .nav-list__anchor { 
                    color: #000;
                }
                @media (min-width: 991px) {
                    padding: 0 30px 0 0;
                    border-right: 3px solid #000;
                }
            }
            &-two {
                padding: 0 0 15px;
                text-align: left;
                @media (min-width: 991px) {
                    padding: 0 30px;
                }
                .nav-list__anchor { 
                    color: $strong_cyan;
                }
            }
            &-three {
                padding: 0 0 15px;
                @media (min-width: 991px) {
                    padding: 0 30px;
                }
                .nav-list__anchor { 
                    color: $strong_cyan;
                }
            }
        }
    }
}


