.search-page {
    @media (min-width: 991px) {
        padding: 5% 10%;
    }

    .heading--component {
        color: #000;
        display: inline-block;
        position: relative;
        &:before {
            background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='113px' height='97px' viewBox='0 0 113 97' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EShape%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Desktop-/-Headers-/-River_1' fill='%23EC6E26' fill-rule='nonzero'%3E%3Cpolygon id='Shape' points='100.71125 62.1619718 92.9425 0 43.505 62.1619718 35.73625 0 0 48.6366197 0 71.0422535 25.28375 37.2971831 35.73625 97 82.49 37.2971831 92.9425 97 113 71.0422535 113 48.6366197'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: 85px;
            content: "";
            display: block;
            height: 80px;
            width: 90px;
            position: absolute;
            top: -15px;
            z-index: -999;
        }
        .heading__component-title {
            background-color: $vivid_yellow;
            font-size: 31px;
            padding: 0 15px;
        }
    }
    .component {
        padding: 30px 0 10px;
    }
}