.section-page {
    overflow: hidden;
    position: relative;
    &__wrapper {
        padding: 0 5%;
    }
    &__caption {
        background-image: url($staticPath + 'img/ninyamping/ShapesSprites.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        display: block;
        height: 80px;
        width: 100%;
        position: absolute;
        top: -10px;
    }
    &__title {
        font-size: 1.2em;
        margin: 15px 0 0 15px;
    }
}