//ARTICLE TEASER 
.teaser-tags-list {
    &__item {
        color: $pink;
        display: inline-block;
        font-size: 15px;
        font-weight: 500;
        margin: 0 8px 0 0;
        text-transform: lowercase;
    }

}

//ARTICLE PAGE TAGS
.tags-list {
    margin: 0 auto 10px;
    padding: 10px;
    &__item {
        background: $pink;
        color: #000;
        display: inline-block;
        font-size: 13px;
        line-height: 1.5;
        margin: 5px 0;
        padding: 5px;
    }
}




//TAG CLOUD TAGS
.tag-cloud {
    text-align: center;
    margin: 5% auto 0;
    padding: 40px 5.5% 20px;
    width: 60%;
    .heading__micro {
        margin: 0;
    }
    &-list {
        display: inline-block;
        padding: 2px 5px;
        &__item {
            color: $pink;
            display: inline-block;
            font-size: 17px;
            margin: 0 5px;
            text-decoration: none;
            text-transform: lowercase;
        }
    }
}