{% load article_tags home_tags wagtailcore_tags wagtailimages_tags %}

<div class="article-page">
    {% include "./_article-banner.html" %}

    <div class="article-page__inner">
        <h1 class="heading heading--primary">{{ page.title }}</h1>
        {% if page.subtitle %}
            <h3 class="heading heading--micro">{{ page.subtitle }}</h3>
        {% endif %}
        {% if page.image %}
            <div class="article-page__image">
                {% image page.image max-360x200 as article_image %}
                <img alt="{{ article_image.title }}" src="{{ article_image.url }}" class="article-page__thumbnail"/>
            </div>
        {% endif %}
        {% include_block page.body %}
    </div>

    {% if page.tags.all.count %}
        <div class="tags">
            <ul class="tags-list">
                {% for tag in page.tags.all %}
                    <li class="tags-list__item">{{ tag.name}}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% social_media_article %}
    {% include "../_patterns/commenting.html" %}
    {% include "../_patterns/article-teasers-recommendations.html" %}
</div>
