{% load wagtailcore_tags %}

<div class="footer-page">
    <h3 class="heading heading--title">{{ page.title }}</h3>
    {% if page.subtitle %}
        <p class="subtitle">{{ page.subtitle }}</p>
    {% endif %}

    {% include_block page.body %}

    {% if page.tags.all.count %}
        <div class="tags">
            <ul class="tags-list">
            {% for tag in page.tags.all %}
            <li class="tags-list__item">#{{ tag.name}}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>