{% extends "base.html" %}

{% block content %}
    {% if theme.slug == 'springster' %}
        {% if page.title|slugify == 'polls' %}
            {% include "./springster/polls/form.html" %}
        {% endif %}
        
        {% if page.title|slugify == 'yourwords' %}
            {% include "./springster/yourwords/form.html" %}
        {% endif %}

    {% elif theme.slug == 'tujibebe' %}
        {% if page.title|slugify == 'polls' %}
            {% include "./tujibebe/polls/form.html" %}
        {% endif %}

        {% if page.title|slugify == 'yourwords' %}
            {% include "./tujibebe/yourwords/form.html" %}
        {% endif %}
    {% endif %}
{% endblock content %}
