{% load static wagtailsettings_tags wagtailcore_tags i18n %}
{% get_settings %}

<form method="post" action="{% url 'user_register' %}" class="profiles__form">
{% csrf_token %}
    {{ form.errors }}
    <fieldset>
       
        <label for="id_username">{% trans "Choose a username" %}</label>
        <p class="input-hint">
            {% trans "Please do not use your real name, phone number or email address as it's unsafe." %}
        </p>
        {{ form.username }}
    </fieldset>

    {% if settings.profiles.ProfileSettings.activate_display_name and settings.profiles.ProfileSettings.capture_display_name_on_reg %}
        <fieldset>
            {{ form.errors }}
            <label for="alias">{% trans "Display name" %}</label>
            <p class="input-hint">
                {% trans "Girl Effect values your online security, therefore we hide your username and allow you to comment and interact with the site anonymously. If you would like to interact with other people, like your friends to be able to see you as a username and not anonymous, update your username here" %}
            </p>
            {{ form.alias }}
        </fieldset>
    {% endif %}

    <fieldset>
        {{ form.errors }}
        <label for="id_password">{% trans "Choose a 4-digit pin" %}</label>
        <p class="input-hint">e.g. 2086</p>
        {{ form.password }}
    </fieldset>

    <fieldset class="terms_and_conditions">
        {% if form.terms_and_conditions %}
            {% if settings.profiles.ProfileSettings.terms_and_conditions %}
                <label for="id_terms_and_conditions"></label>
                {{ form.terms_and_conditions }}
                <a href="{% pageurl settings.profiles.ProfileSettings.terms_and_conditions %}" class="terms_and_conditions-link">
                    I accept the Terms and Conditions
                </a>
            {% else %}
                <label for="id_terms_and_conditions">{% trans " I accept the Terms and Conditions" %}</label>
                {{ form.terms_and_conditions }}
            {% endif %}
        {% endif %}
    </fieldset>

    <input type="submit" value="{% trans 'Sign up' %}" class="call-to-action__submit" />
  </form>
