.article-teaser {
    overflow: auto;
}

.teaser-stacklist {
    &-wrapper {
        align-items: flex-start;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        overflow: hidden;
        padding: 0 8px;
        justify-content: space-between;
    }
    &__content {
        overflow: auto;
    }
    &-parent {
        padding: 0 0 5px;
        &__anchor {
            color: $vivid_orange;
            display: block;
            font-size: 14px;
            font-weight: 600;
            text-decoration: none;
            text-transform: capitalize;
        }
    }
    &__anchor {
        text-decoration: none;
    }
    &__title {
        color: $dark_violet;
        font-size: 20px;
        font-family: "Berfa";
        font-weight: 400;
        margin: 0 0 15px 0;
        text-transform: uppercase;
    }
    &__subtitle {
        color: $dark_violet;
        margin: 0 0 20px 0;
    }
    &__thumbnail {
        height: 135px;
        overflow: hidden;
        margin: 0 0 15px;
        width: 200px;
        &-link {
            display: block;
        }
    }
    &__item {
        overflow: hidden;
        padding: 0 0 10px;
        width: 45%;
        
        &--full-width {
            width: 100%;
            &:after {
                @include line-break-pattern;
            }
            .teaser-stacklist__thumbnail {
                height: 220px;
                margin: 0 auto;
                width: 290px;
            }
            .teaser-stacklist__title {
                font-size: 26px;
                line-height: 32px;
            }
            .teaser-stacklist__content {
                padding: 15px 20px;
            }
        }
    }
}