.article-page {
    background-color: $white;
    &__inner {
        overflow: auto;
        .heading {
            padding: 0 15px;
        }
        .block-paragraph {
            color: $dark_violet;
            padding: 15px;
        }
    }
    &__recommendations {
        .teaser-stacklist {
            &__title {
                font-size: $medium;
                margin: 0 5px 5px;
                text-transform: capitalize;
            }
            &__item {
                width: 100%;
            }
            &__thumbnail {
                max-height: 300px;
                width: 100%;
                &-link {
                    img {
                        width: 100%;
                    }
                }
            }
            &__content {
                padding: 0 15px 0 15px;
            }
        }
    }

    audio {
        background-color: $dark_violet;
        color: $white;
        padding: 20px;
        width: 87%;
    }
}


.block {
    &-paragraph {
        font-size: 16px;
        padding: 10px;
        p {
            margin: 5px 0;
        }
        ul {
            padding: 0 20px;
            li {
                list-style: disc;   
            }
        }
        ol {
            padding: 0 20px;
            li {
                list-style: decimal;
            }
        }
    }
    &-image {
        overflow: auto;
    }  
    &-media {
        padding: 10px;
    }
}


