.article-page {
    background-color: $white;
    &__inner {
        padding: 0 15px;
    }
    &__recommendations {
        .teaser-stacklist__title {
            font-size: $medium;
            margin: 0 5px 5px;
            text-transform: capitalize;
        }
        .teaser-stacklist__item {
            width: 100%;
        }
        .teaser-stacklist__content {
            padding: 0 15px 0 15px;
        }
    }
}