.call-to-action {
    padding: 10px;
    
    &__submit {
        background-color: $dark_violet;
        color: $yellow;
        font-size: 18px;
        font-family: "TwCenMTStd-Bold";
        display: block;
        margin: 0 auto;
        padding: 10px 25px;
        text-transform: uppercase;
    }
    &__link {
        color: $dark_violet;
        display: block;
        font-family: "TwCenMTStd-Bold";
        margin: 0 auto;
        text-decoration: underline;
        text-transform: uppercase;
    }
    &--profiles {
        text-align: center;
        padding: 10px 10px 20px;
    }
} 