.copyright {
    padding: 10px 15px 5px;
    &__text {
        color: $dark_gray;
        font-size: $smaller;
    }
    &__anchor {
        color: $dark_gray;
        text-decoration: underline;
    }
}