.footer {
    background-color: $very_light_gray;
    padding: 25px 8px;
    &__inner {
        overflow: hidden;
    }
    &-page {
        background-color: $white;
        color: $dark_violet;
        padding: 0 0 5px;
    }
    &-languages {
        padding: 20px 15px 5px;
        &-list {
            display: inline-block;
            &__item {
                display: inline;
            }
            &__label {
                color: #5c5c5c;
                font-size: $large;
                -webkit-font-smoothing: antialiased;
            }
            &__anchor {
                color: $dark_gray;
                font-size: $small;
                padding: 0 5px 0 0;
                &.is-active {
                    color: $strong_cyan;
                    text-decoration: underline;
                }
            }
        }
    }
}

.copyright {
    padding: 10px 15px 5px;
    &__text {
        color: $dark_gray;
        font-size: $smaller;
    }
    &__anchor {
        color: $dark_gray;
        text-decoration: underline;
    }
}