.languages {
    background-color: $light_gray;
    padding: 5px 8px;
    margin: 0 auto;
    &-bar {
        position: relative;
    }
    &-list {
        text-align: center;
        &__item {
            display: inline-block;
            margin: 0 3px 0;
        }
        &__anchor {
            color: $dark_gray;
            font-size: 12px;
            text-transform: uppercase;
            text-decoration: none;
            &:hover, focus {
                color: $strong_cyan;
                text-decoration: underline;
            }
        }
    }
}

