.search {
    &__bar {
        margin: 0 8px 20px;
    }
    &__form {
        padding: 25px 5px 0;
        position: relative;
    }
    &-radio,
    &__label {
        display: none;
        visibility: hidden;
    }
    &__cta {
        background-color: #fff;
        background-image: url('/img/zathu/search_grey.png');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 17px;
        border: none;
        cursor: pointer;
        height: 38px;
        position: absolute;
        right: 5%;
        text-indent: 125%;
        width: 48px;
    }
    &--inner {
        background-color: $very_light_gray;
        padding: 10px 5px 10px;
        margin: 15px 15px 0;
        .search__cta,
        input[type=submit] {
            background-color: $dark_violet;
            background-image: none;
            color: $yellow;
            font-family: "TwCenMTStd-Bold";
            font-size: 18px;
            font-weight: normal;
            margin: 10px auto 10px;
            padding: 10px 24px;
            position: relative;
            text-overflow: inherit;
            text-transform: uppercase;
            text-indent: unset;
            width: 50%;   
        }
        input.search__input {
            width: 80%;
        }
    }
    &--footer {
        padding: 0 0 5px;
    }
}