.social-media {
    &-list {
        display: block;
        text-align: center;
        margin: 0;
        padding: 0 10px;
        &__item {
            display: block;
            padding: 0 8px 8px 0;
        }
        &__anchor {
            align-items: center;
            color: $dark_violet;
            cursor: pointer;
            display: flex;
            font-size: 15px;
            justify-content: flex-start;
            padding: 8px 0;
            text-decoration: none;
            &-title {
                color: $dark_violet;
                display: block;
                padding: 0 5px 0px;
            }
            &-icon { 
                height: auto;
                margin-right: 5px;
                max-height: 25px;
                max-width: 25px; 
                width: 100%;  
            }
        }
    }
}

.article-page {
    .social-media-list {
        &__anchor {
            background: $mod_blue;
            border-radius: 5px;
            color: $white;
            padding: 8px 10px;
            position: relative;
            width: 65%;
            &-title { 
                color: $white;
                padding: 0 15px 0px;
                &:before {
                    background-color: $dark_blue;
                    content: '';
                    display: inline-block;
                    height: 24px;
                    left: 30px;
                    margin: 0 5px 0;
                    position: absolute;
                    top: 7px;
                    width: 1px;
                }
            }
            &-icon { 
                max-height: 21px;
                max-width: 21px;   
            }
            &:hover {
                opacity: 0.9;
            }
        }
        &__label {
            display: none;
            visibility: hidden;
        }
    }
}