//COLORS
$black: #000;
$white: #fff;

$lime_green: #00ff00;

$vivid_violet: #8208ff;

$very_light_gray: #f2f2f2;

$dark_gray: #7d7d7d;

$cyan: #00ffff;

$pink: #ff0061;

//DIRECTORY
$staticPath: 'https://standard-wagtail.prd-hub.ie.gehosting.org/static/';