$dark_grayish_blue: #a3a7ae;
$very_dark_grayish_blue: #33373c;
$dark_gray: #656d78;
$light_gray: #f0f3f5;
$light_gray_blue: #edf0f2;
$violet: #7300ff;
$pale_violet: #e3ccff;
$white: #ffffff;
$soft_cyan: #0fbfbf;
$light_yellow: #edbf40;
$light_orange: #ff9f73;
$pale_red: #ffa4b8;
$lime_green: #a4eed2;


$staticPath: 'http://127.0.0.1:8000/static/'