$dark_grayish_blue: #a3a7ae;
$dark_gray: #656d78;
$light_gray: #f0f3f5;
$violet: #7300ff;
$pale_violet: #e3ccff;
$white: #ffffff;
$soft_cyan: #6be6e6;
$light_yellow: #ffe654;
$light_orange: #ff9f73;
$pale_red: #ffa4b8;
$lime_green: #a4eed2;

$staticPath: 'http://127.0.0.1:8000/static/'