.article-page {
    padding: 40px 5%;
    &__image {
        border-radius: 20px;
        margin: 15px auto 0;
        height: 423px;
        width: 752px;
    }
    &__thumbnail {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: left top;
    }
    &--cast {
        text-align: center;
        padding: 40px;
        margin: 0 auto;
        @media (min-width: 991px) {
            width: 60%;
        }
    }
}

.block-paragraph {
    padding: 10px 15px;
    @media (min-width: 991px) {
        padding: 10px 0;
    }
    p {
        color: $black;
        font-size: 16px;
    }
}