.article-teasers {
    overflow: auto;
}


.teaser-stacklist {
    &__item {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
    }
    &__thumbnail {
        aspect-ratio: 3 / 2;
        height: inherit;
        margin: 0 15px 0 0;
        overflow: hidden;
        width: auto;
        @media (min-width: 991px) {
            height: 195px;
            width: 360px;
        } 
        
        &-link {
            color: #000;
            display: block;
            text-decoration: none;
        }
    }

    &__title {
        color: #000;
        font-size: 32px;
    }

    &__anchor {
        display: block;
        text-decoration: none;
    }
}