.article-teasers {
    overflow: auto;
}

.teaser-stacklist {
    $this: &;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    @media (min-width: 768px) {
        flex-direction: row;
    } 
    &__item {
        align-items: center;
        flex-direction: column;
        height: 100%;
        margin: 0 10px 10px;
        overflow: hidden;
        width: 100;
        padding: 25px;
        @media (min-width: 768px) {
            height: 410px;
            width: 220px;
        } 
        @media (min-width: 991px) {
            height: auto;
            margin: 0 0 10px;
           // max-height: 410px;
           max-height: inherit;
            width: 300px;
        }
        
        &-link {
            color: $vivid_violet;
            display: block;
            text-decoration: none;
        }
    }
    &__thumbnail {
        display: flex;
        height: auto;
        overflow: hidden;
        width: 100%;
        @media (min-width: 768px) {
            min-height: 270px;
            max-height: 270px;
        } 
    }
    &__image {
        height: 100%;
        object-fit: cover;
        object-position: left top;
        width: 100%;
        @media (min-width: 768px) {
            width: fit-content;
        } 
    }

    &__title {
        color: $vivid_violet;
        font-size: 27px;
        margin: 5px 0 16px;
    }

    &__anchor {
        display: block;
        text-decoration: none;
    }
    &__label {
        color: #000;
        display: block;
        font-size: 12px;
    }
    &__content {
        width: 100%;
    }
    &--featured-main {
        .teaser-stacklist__item:first-child {
            width: 100%;
            padding: 0 25px 25px;
            .teaser-stacklist__image {
                width: 100%;
            }
        }
    }
}