.banner {
    &__link {
        display: block;
    }

    &__image {
        border-radius: 20px;
        height: auto;
        width: 100%;
        @media (min-width: 991px) {
            height: 620px;
        } 
    }

}