.component-title {
    //background-color: rgba(0,255,255,.1);
    text-align: center;
    @media (min-width: 991px) {
        padding: 0 8%;
    } 

    &__super {
        @media (min-width: 991px) {
            padding: 50px 20% 22px;
        } 
    }
}