.copyright {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 768px) {
        flex-direction: row;
    } 
    @media (min-width: 991px) {
        padding: 10px 7.5%;
    } 

    &__text {
        color: $black;
        font-size: 13px;
        font-weight: 600;
    }
    
}