.footer {
    &-page {
        background: #000;
        text-align: center;
        @media (min-width: 991px) {
            padding: 20px 8%;
        } 
    }
    &__inner {
        align-items: center;
        background: $lime_green url($staticPath + 'img/yegna/bg.svg') no-repeat 0 0/auto;
        display: flex;
        justify-content: space-between;
        padding: 50px 8%; 
    }

    .nav-list__anchor {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            text-underline-position: below;
        }
        &::before {
            display: none;
            visibility: hidden;
        }
    }
}