.homepage {
    padding: 40px 10px;
    @media (min-width: 991px) {
        padding: 40px 8%;
    } 
    &__inner {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (min-width: 991px) {
            align-items: flex-start;
            flex-direction: row;
        } 
    }
    &__column {
        &-main {
            width: 80%;
            @media (min-width: 991px) {
                margin-right: 5%;
                width: 60%;
            } 
        }
        &-side {
            width: 80%;
            @media (min-width: 991px) {
                width: 35%;
            } 
            .teaser-stacklist {
                align-items: flex-start;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                @media (min-width: 991px) {
                    align-items: center;
                    flex-direction: column;
                    flex-wrap: unset;
                    justify-content: center;
                } 
                &__item {
                    align-items: center;
                    background-color: $very_light_gray;
                    flex-direction: column;
                    height: 100%;
                    margin: 0 10px 10px;
                    width: 100;
                    padding: 25px;
                    @media (min-width: 768px) {
                        height: 410px;
                        width: 220px;
                    } 
                    @media (min-width: 991px) {
                        height: auto;
                        margin: 0 0 10px;
                        max-height: 410px;
                        width: 300px;
                    }
                }
                &__content {
                    width: 100%;
                    .call-to-action__read-more {
                        float: right;
                    }
                }
                &__title {
                    font-size: 20px;
                    margin: 0;
                    padding: 10px 0;
                }
                &__thumbnail {
                    height: auto;
                    width: 100%;
                    @media (min-width: 768px) {
                        min-height: 270px;
                        max-height: 270px;
                    } 
                }
                &__image {
                    height: 100%;
                    object-fit: cover;
                    object-position: left top;
                    width: 100%;
                    @media (min-width: 768px) {
                        width: fit-content;
                    } 
                }
                
            }


        }
    }
}