.menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    z-index: 99;
    @media (min-width: 492px) {
        flex-direction: row;
    } 
}