 .nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    
    @media screen and (min-width: 991px) {
        width: 80%;
    }
    &-list {
        display: inline-block;
        &--search {
            @media screen and (min-width: 991px) {
                position: absolute;
                right: -10%;
            }
        }   
        &__item {
            display: inline-block;
        }
        &__anchor {
            color: $black;
            cursor: pointer;
            display: block;
            font-size: 16px;
            padding: 10px 15px;
            position: relative;
            text-transform: capitalize;
            text-decoration: none;
            &--label {
                color: $vivid_violet;
            }
            &:before {
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
                content: " ";
                display: inline-block;
                margin: 0 5px 0 0;
                height: 40px;
                vertical-align: middle;
                width: 37px;
            }
            &:after {
                border-bottom: 2px solid transparent;
                content: " ";
                display: block;
                float: right;
                margin: -10px 0 0;
                width: 45%;
            }
            &:hover:after {
                border-bottom-color: $black;
            }
            &.is-active {
                background-color: $white;
            }
        }
    }
    &__dropdown {
        background-color: $white;
        box-shadow: -1px 3px 8px 0 rgb(0 0 0 / 50%);
        display: flex;
        left: 0;
        margin: 0 auto;
        padding: 30px 10px;
        position: absolute; 
        right: 0;
        top: 135px;
        @media screen and (min-width: 991px) {
            padding: 30px 7.5% 30px 19.5%;
        }
        .nav-list__our-story {
            color: $vivid_violet;
            padding: 0 15px 15px 0;
        }
        .nav-list {
            margin: 0 5% 0 0;
            z-index: 100;
            &__item {
                display: block;
            }
            &__anchor {
                display: inline-block;
                font-size: 19px;
                padding: 0 15px 10px 0;
                &-parent {
                    color: $vivid_violet;
                    padding: 0 15px 15px 0;
                }
                &:before,
                &:after {
                    display: none;
                }
                &:hover {
                    color: $vivid_violet;
                    text-decoration: underline;
                }
            }
        }

    }
}

#menu:before {
    background-image: url('/img/yegna/icon-burger.svg');
}

#watch:before {
    background-image: url('/img/yegna/icon-watch.svg');
    width: 25px;
}

#cast:before {
    background-image: url('/img/yegna/icon-cast.svg');
}

#listen:before {
    background-image: url('/img/yegna/icon-listen-black.svg');
}

#search_label {
    padding: 10px 10px 15px;
    &:before {
        background-image: url('/img/yegna/icon-search.svg');
        height: 35px;
        width: 30px;
    }
}

