.search-page {
    padding: 40px 5%;
    &__inner {
        margin: 0 auto;
        @media (min-width: 991px) {
            width: 95%;
        }
        &--listen {
            .teaser-stacklist__item {
                background-color: $very_light_gray;
            }
        }
    }
    .teaser-stacklist {
        &__item {
            @media (min-width: 991px) {
                max-height: fit-content;
            }
        }
        &__subtitle {
            margin: 16px 0;
        }
    }

    .subheading {
        color: $vivid_violet;
        &__label {
            font-style: italic;
        }
    }
}