.search-page {
    padding: 40px 5%;
    &__inner {
        margin: 0 auto;
        @media (min-width: 991px) {
            width: 95%;
        }
    }

    .teaser-stacklist {
        &__item {
            @media (min-width: 991px) {
                max-height: fit-content;
            }
        }
        &__subtitle {
            margin: 16px 0;
        }
    }
}