.section-page {
    padding: 40px 10px;
    @media (min-width: 991px) {
        padding: 40px 7.5%;
    } 
    &__inner {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (min-width: 991px) {
            align-items: flex-start;
            flex-direction: row;
        } 
    }
    &__column {
        &-main {
            width: 80%;
            @media (min-width: 991px) {
                margin-right: 5%;
                width: 60%;
            } 
            //ARTICLE TEASER OVERRIDE - MAIN PANEL
            .teaser-stacklist {
                &__item {
                    background-color: $cyan;
                    width: 90%;
                }
                &__title {
                    color: $black;
                }
            }

            &--listen {
                .teaser-stacklist {
                    &__item { 
                        background-color: $very_light_gray;
                        width: auto;
                        @media (min-width: 991px) {
                            align-items: flex-start;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                        } 
                    }
                    &__thumbnail {
                        @media (min-width: 991px) {
                            max-height: 190px;
                            min-height: 190px;
                            width: 45%;
                        }
                    }
                    &__content {
                        width: 50%;
                        @media (min-width: 991px) {
                            padding: 15px 0 15px 15px;
                        }
                    }
                }
            }
        }

        &-side {
            width: 80%;
            @media (min-width: 991px) {
                width: 35%;
            } 


            //ARTICLE TEASER OVERRIDE - SIDE PANEL
            .call-to-action {
                margin-top: 10px;
            }
            .teaser-stacklist {
                &__item {
                    background-color: $very_light_gray;
                }
                &__content {
                    background-color: $cyan;
                    padding: 10px 10px 30px 10px;
                    width: auto;
                }
                &__title {
                    color: $black;
                    font-size: 20px;
                }
            }
            
        }
    }
   
}