/*
    STATIC STYLE ON FIRST LOAD
*/


/* TEXT */

.component {
    align-items: center;
    padding: 30px 0 10px;
    display: flex;
    justify-content: space-between;
}

.heading__basic {
    background-color: #fdd400;
    color: #000;
    display: inline-block;
    font-size: 23px;
    margin: 0 0 0 10px;
    padding: 0 15px;
}


/* HEADER */

.header {
    background-color: #711343;
    height: auto;
    overflow: initial;
    padding: 0 10px;
    position: absolute;
    text-align: center;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s ease 1ms;
    width: 100%;
    z-index: 99999;
}

.logo {
    display: block;
    margin: 0 auto;
    position: relative;
}
.logo__anchor {
    display: block;
    height: 100px;
    margin: 0 auto;
    max-height: 100px;
    overflow: hidden;
    position: relative;
    width: 360px;
}

.dropdown { 
    display: none; /*TO TEST*/
    left: 0;
    position: absolute;
    right: 0;
}

.nav__label,
.nav-list__anchor,
.nav-profile__anchor,
.languages__label,
.search__label {
    color: #fff;
    display: block;
    font-size: 17px;
    padding: 10px 15px 0 0;
    text-decoration: none;
    text-transform: uppercase;
}

#nav_toggle,
#languages_toggle,
#search_toggle {
    display: none;
    visibility: hidden;
}

/* BANNER */
.banner__link {
    display: block;
}
.banner__image {
    height: auto;
    width: 100%;
}

/* ARTICLE TEASER */

.breadcrumbs {
    padding: 50px 70px 25px;
}

.breadcrumbs-list__item {
    color: #b4b4b4;
    display: inline-block;
    margin: 0;
    font-size: 19px;
    text-transform: capitalize;
}

.breadcrumbs-list__anchor {
    color: #e7357c;
    cursor: pointer;
    font-size: 19px;
    margin: 0;
    text-decoration: underline;
    text-underline-position: under;
    text-transform: capitalize;
}

.breadcrumbs-list__anchor:after {
    color: #e7357c;
    content: " ≫ ";
    display: inline-block;
    padding: 0 5px;
}

.teaser-stacklist__item {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    margin: 0 0 20px 0;
    overflow: hidden;
    width: auto;
}

.teaser-stacklist__thumbnail {
    width: 50%;
}

.teaser-stacklist__anchor {
    text-decoration: none;
}

.teaser-stacklist__title {
    color: #000;
    font-size: 17px;
    padding: 10px 0;
    text-transform: uppercase;
}

.teaser-stacklist__subtitle {
    padding: 5px 0 10px;
    font-size: 17px;
}


/*-----------------------
    SECTION PAGE 
-----------------------*/

.section-page__wrapper {
    padding: 0 5%;
}

/*-----------------------
    ARTICLE PAGE 
-----------------------*/

.article-page__body {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
}

.social-media-list {
    border-top: 3px solid #e7357c;
    margin: 5% auto 0;
    padding: 40px 5.5% 20px;
    text-align: center;
    width: 60%;
}
.social-media-list__item {
    display: inline-block;
}


/*-----------------------
    SEARCH PAGE 
-----------------------*/
.search-page .heading--component {
    color: #000;
    display: inline-block;
    position: relative;
}
.search-page .heading--component .heading__component-title {
    background-color: #ffe82c;
    font-size: 31px;
    padding: 0 15px;
}

/* MEDIA QUERIES */
@media (min-width: 991px) {
    .header {
        align-items: flex-start;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        height: 65px;
        padding: 0 5%;
        position: relative;
        overflow: inherit;
        width: inherit;
    }
    .logo {
        order: 2;
        width: auto;
    }
    .nav {
        display: flex;
        float: inherit;
        order: 1;
    }
    .nav-lang-and-search {
        display: flex;
        float: inherit;
        order: 3;
    }


    .banner {
        height: 326px;
        overflow: initial;
    }

    .article-page__body {
        padding: 15px 15%;
    } 


    .teaser-stacklist__thumbnail, .teaser-stacklist__images {
        height: 250px;
        width: 430px;
    }

    .homepage .teaser-stacklist__item--full-width {
        float: left;
        overflow: hidden;
        margin: 0 5px;
        height: 750px;
        padding: 0 30px 20px 0;
        width: 65%;
    }
    .homepage-column .teaser-stacklist__item--full-width > .teaser-stacklist__content {
        white-space: initial;
        overflow: initial;
        text-overflow: initial;
        height: auto;
    }

    .search-page {
        padding: 5% 10%;
    }
}


/*-----------------------
    HOMEPAGE
-----------------------*/

.homepage-column {
    align-items: flex-start;
    display: flex;
    flex-direction: initial;
}
.homepage-column__two {
    background-color: #ed6f26;
}

@media (min-width: 991px) {
    .homepage-column__one {
        order: 1;
        width: 75%;
    }
    .homepage-column__two {
        padding: 0 15px;
        order: 2;
        width: 25%;
    }

    .homepage-column__one .heading--hero {
        margin: 10px 5%;
    }
    .homepage-column__one .article-stacklist {
        padding: 15px 5px 15px 70px;
    }
}


/* FOOTER */

.footer {
    align-items: flex-start;
    background-color: #711343;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3em 5% 1em;
    overflow: auto;
    overflow: auto;
}


/* FORM */

input[type=text], 
input[type=number], 
input[type=password], 
input[type=email], 
input[type=tel], 
input[type=search], 
input[type=week], 
input[type=date], 
input[type=month], 
input[type=datetime], 
input[type=datetime-local], 
input[type=url], select {
    background-color: #fff;
    border-radius: 0;
    border: 2px solid #e7357c;
    display: block;
    font-size: 16px;
    margin: 0;
    padding: 10px 0 10px 5px;
    width: 75%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-border-radius: 0;
}