.forms-page {
    background-color: $white;
    margin: 10px 0;
    padding: 10px 10px 0;
    position: relative;
    $this: unquote("#{&}");
    &__inner {
        position: relative;
        padding: 20px 0 0;
    }
    &__icon {
        align-items: center;
        display: flex;
        height: 100px;
        position: relative;
        justify-content: center;
        width: 100%;
        &:before {
            background: url('/img/tujibebe/illustrations.png') no-repeat 0 -360px/100px;
            content: '';
            display: block;
            height: 88px;
            padding: 5px;
            width: 100px;
        }
    }
    &__results {
        background-color: $white;
        padding: 20px 15px;
        p {
            font-size: 18px;
        }
    }

    &__title {
        color: $very_dark_gray;
        font-size: 24px;
        text-transform: uppercase;
        &:after {
            background: url('/img/tujibebe/icon-sprite.png') no-repeat  -105px -440px/245px;
            content: '';
            display: block;
            height: 20px;
            margin: 5px auto 20px;
            width: 140px;
        }
    }

    &__subtitle {
        color: $very_dark_gray;
        font-size: 20px;
        font-weight: 400;
        margin: 0 0 10px;
        //WSYWIG
        h1, h2, h3, h4, h5, h5, p {
            text-transform: capitalize;
        }
    }

    &__paragraph {
        color: #000;
        font-size: 18px;
    }

    &--banner {
        padding: 10px 15px;
    }

    &--main {
        padding: 20px 0;
        #{$this}__icon {
            background-size: 100px;
            margin-bottom: 30px;
        }
        #{$this}__inner {
            padding: 0 5%;
            //WSYWIG
            p {
                font-size: 18px;
            }
        }
        #{$this}__title {
            text-align: center;
            padding-bottom: 40px;
            &:after {
                left: 0;
                margin: 5px auto;
                position: absolute;
                right: 0;
                width: 145px;
            }
        }
        #{$this}__subtitle {
            //WSYWIG
            h1, h2, h3, h4, h5, h5, p {
                font-size: 24px;
            }
        }

        .forms {
            padding: 10px 15px;
            margin: 10px 0;
            &__title {
                text-align: center;
                &:after {
                    left: 0;
                    position: absolute;
                    right: 0;
                    width: 150px;
                }
            }
            //WSYWIG
            input[type=text], 
            input[type=number], 
            input[type=password], 
            input[type=email], 
            input[type=tel], 
            input[type=search], 
            input[type=week], 
            input[type=date], 
            input[type=month], 
            input[type=datetime], 
            input[type=datetime-local], 
            input[type=url],
            select,
            textarea {
                margin: 10px 0;
            }
            label {
                font-size: 20px;
            }
            p, div {
                padding: 5px 0;
            }
        }
    }
}