.pagination {
    align-items: center;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    text-align: center;
    &__item {
        position: relative;
    }
    &__anchor {
        background-color: $blue;
        color: $white;
        cursor: pointer;
        display: block;
        font-size: 16px;
        font-weight: 700;
        padding: 0;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }
}

