.account {
    &-list {
        text-align: center;
        &__label {
            color: $dark_gray;
            display: inline-block;
            font-size: 16px;
            padding: 16px 0 10px 0;
        }
        &__info {
            display: inline-block;
        }
    }
}