form {
    overflow: inherit;
}

fieldset {
    border: none;
    text-align: center;
    .dropdowns {
        align-items: center;
        display: flex;
        margin: 0 0 10px;
        justify-content: space-between;
    }
}

label {
    color: $dark_gray;
    padding: 16px 0 10px 0;
    text-align: center;
}

label[for=id_terms_and_conditions] {
    display: none;
    visibility: hidden;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="week"],
input[type="date"],
input[type="month"],
input[type="datetime"],
input[type="datetime-local"],
input[type="url"],
select {
    border-radius: 0;
    border: 2px solid $violet;
    font-size: 16px;
    margin: 0 auto;
    padding: 10px 0 10px 5px;
    width: 98%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-border-radius: 0;
    
    &:focus,
    &:focus-visible {
        outline: none; 
    }
}

select {
    background: #fafafa url($staticPath + 'img/springster/drop-down@2x.png') 0 0/20px no-repeat;
    padding: 10px 30px 10px 5px;
    width: 100%;
}

textarea {
    border-radius: 0;
    border: 2px solid $violet;
    display: block;
    font-size: 16px;
    margin: 10px auto;
    padding: 10px 0 10px 5px;
    width: 98%;
    -webkit-appearance: none;
}

input[type=checkbox] {
    cursor: pointer;
    display: inline-block;
    visibility: visible;
    margin: 0 10px 0 0;
    height: 24px;
    vertical-align: middle;
    width: 24px;
    &:before {
        background: #fff;
        content: "";
        border: 2px solid $violet;
        display: inline-block;
        height: 24px;
        width: 24px;
    }
    &:checked:before {
        background: #7300ff url($staticPath + 'img/check-box.png') 0 50%/24px no-repeat;
    }
}
.typeCheckbox {
    cursor: pointer;
    display: inline-block;
    padding: 10px 0 0;
    width: 100%;
    &.is-on input[type=checkbox]:before {
        background: #7300ff url($staticPath + 'img/check-box.png') 0 50%/24px no-repeat;
    }
}

input[type=radio] {
    display: inline-block;
}
//DEFAULT input[type=radio] MODIFIER
.typeRadio {
    background-color: #fff;
    cursor: pointer;
    display: inline-block;
    opacity: .8;
    width: 100%;
    &:before {
        background: url($staticPath + 'img/springster/select@2x.png') 0 0/24px no-repeat;
        content: '';
        display: inline-block;
        height: 24px;
        margin: 0 10px 0 20px;
        vertical-align: middle;
        width: 24px;
    }
    &:hover, &focus {
        opacity: 1;
    }
    &.selected {
        opacity: 1;
        &:before {
            background: url($staticPath + 'img/springster/selected@2x.png') 0 0/24px no-repeat;
            content: '';
        }
    }
    input[type=radio] {
        margin: 0;
        visibility: hidden;
        width: auto;
    }
}

.terms_and_conditions-link {
    color: $violet;
    display: inline-block;
    font-family: 'Baton-Regular';
    font-size: 20px;
    margin: 0 0 0 20px;
    vertical-align: text-top;
}

.input-hint {
    color: $dark_gray;
    font-size: 12px;
}

#id_date_of_birth_month, 
#id_date_of_birth_day, 
#id_date_of_birth_year {
   margin: 0 5px 0 0;
}

/*
     FORMS
*/

.forms {
    text-align: left;
    &__title {
        color: $dark_grayish;
        font-family: 'Baton-Regular';
        font-size: 23px;
        margin: 0 0 20px;
        padding: 0 15px;
    }
    &__subtitle {
        color: $dark_grayish;
        font-family: 'Baton-Regular';
        font-size: 24px;
        font-weight: 400;
        margin: 0 0 10px;
        padding: 0 15px;
    }
    &__paragraph {
        font-size: 16px;
    }
    &__feedback {
        color: $soft_red;
        font-family: 'Baton-Regular';
        font-size: 21px;
        font-weight: 400;
        padding: 10px 15px 20px;
    }

    p, label {
        color: $dark_grayish;
        font-family: 'Baton-Regular';
        font-size: 18px;
        text-align: left;
    }

    ul {
        display: block;
        margin: 15px 0;
        text-align: left;
        li {
            align-items: center;
            background-color: $white;
            cursor: pointer;
            display: flex;
            margin: 15px 0;
            padding: 0 15px;
            text-align: left;
        }
    }
    fieldset {
        display: block;
        margin: 15px 0;
        text-align: left;
        label {
            color: $dark_grayish;
            font-size: 18px;
            text-align: left;
        }
        .input-group {
            align-items: center;
            background-color: $white;
            cursor: pointer;
            display: flex;
            margin: 15px 0;
            padding: 0 15px;
            text-align: left;
            // &:before {
            //     background: url($staticPath + 'img/springster/select@2x.png') 0 0/24px no-repeat;
            //     content: '';
            //     height: 25px;
            //     margin: 0 10px 10px 0;
            //     width: 10%;
            // }
            label {
                width: 85%;
            }
            input[type="radio"] {
                position: absolute;
                left: 0;
            }
        }
    }
    //ASSUMPTION ITS RADIO BUTTONS MARKUP
    div {
        label {

        }
    }
    .errorlist,
    .error-list {
        margin: 10px 0 0;
        li,
        &__item {
            background-color: transparent;
            margin: 15px 0 0;
            padding: 0;
        }
    }
}

.helptext {
    color: $dark_gray;
    display: block;
    font-family: 'Baton-Regular';
    font-size: 18px;
}

.error {
    color: #f50;
    font-family: 'Baton-Medium';
    padding: 10px 15px;
    text-align: center;
}
.errorlist,
.error-list {
    li,
    &__item {
        background-color: transparent;
        color: #f50;
        font-family: 'Baton-Medium';
        padding: 10px 15px;
        text-align: center;
    }
}

.security {
    padding: 10px 0 0;
}


