.nav {
    overflow: auto;
    padding: 10px 8px 5px;
    &-list {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: center;
        &__item {
            display: inline-block;
            padding: 0 14px 0 0;
        }
        &__anchor {
            color: $pale_violet;
            border-bottom: 2px solid transparent;
            display: block;
            font-family: 'Baton-Regular';
            font-weight: normal; 
            font-size: 18px;
            font-style: normal;
            text-decoration: none;
            &:hover,
            &.selected {
                border-bottom-color: $pale_violet;
            }  
        }
        @each $theme, $color in $themes {
            &__#{$theme} {
                color: $color;
                &:hover,
                &.selected  {
                    border-bottom-color: $color; 
                }
            }
        }
    }
}

.menu {
    overflow: auto;
    text-align: center;
    &-list {
        align-items: center;
        display: flex;
        list-style: none;
        justify-content: space-between;
        &__item {
            display: inline-block;
        }
        &__anchor {
            color: $white;
            display: block;
            text-decoration: none;
        }
    } 
}


#profile {
    background: url($staticPath + 'img/springster/avatar.svg')  no-repeat 3px 0 / auto 95%;
    cursor: pointer;
    height: 25px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    width: 28px;
    vertical-align: middle;
    text-indent: 120%;
    .menu-list__anchor {
        padding: 10px 0;
    }
}

#search {
    background: url($staticPath + 'img/springster/nav_search.svg')  no-repeat 3px 0 / auto 95%;
    cursor: pointer;
    text-indent: 120%;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    width: 28px;
    padding: 0;
    height: 25px;
    &.close {
        background: $violet url($staticPath + 'img/springster/dismiss.svg')  no-repeat 3px 3px / auto 80%;
    }
}