.polls {
    background-color: $white;
    position: relative;
    display: inline-block;
    padding-top: 20px;
    width: 100%;

    &__icon {
        margin: 20px 0 0;
        text-align: center;
        &:before {
            background: url($staticPath + 'img/springster/poll@2x.png') no-repeat 0 0/100px;
            content: '';
            display: block;
            height: 88px;
            left: 0;
            margin: 0 auto;
            padding: 2px 5px;
            position: absolute;
            right: 0;
            width: 100px;
        }
    }
    &__label {
        color: $dark_gray;
        display: inline-block;
        font-family: 'Baton-Medium';
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 100px;
    }
    &__inner {
        background: $very_soft_cyan url($staticPath + 'img/springster/bottom-div-1@2x.png') no-repeat 0 100%/contain;
        margin-top: -45px;
        padding: 60px 0 8px;
    }
    &--banner {
        text-align: center;
    }

}

