.social-media {
    &-list {
        display: block;
        text-align: center;
        margin: 0;
        padding: 15px 0;
        &__item {
            display: inline-block;
            vertical-align: middle;
            padding: 0 8px 8px 0;
        }
        &__label {
            font-weight: 600;
        }
        &__anchor {
            color: $violet;
            cursor: pointer;
            font-size: 20px;
            text-decoration: none;
            &-title {
                color: $violet;
            }
            &-icon { 
                height: auto;
                margin-right: 5px;
                max-height: 24px;
                max-width: 24px;
                vertical-align: middle;
                width: 100%;
            }
        }
    }
}

.article-page { 
    .social-media-list {
        &__anchor-title {
            display: none;
            visibility: hidden;
        }
    }
}