.heading {
    $block: unquote("#{&}");
    font-family: 'Baton-Medium';
    &__primary {
        font-size: 40px;
    }
    &__micro {
        color: $dark_gray;
        display: block;
        font-size: 18px;
        font-weight: normal;
        margin: 18px 0;
        padding: 15px 0 5px;
        text-align: center;
        text-transform: uppercase;   
    }
    &--section {
        color: #fff;
    }
    &--article {
        color: $very_dark_grayish_blue;
        font-family: 'Baton-Regular';
        padding: 24px 8px 8px;
        text-align: center;
        #{$block}__primary {
            font-size: 32px;
        }
    }  
    &--related-up-next {
        font-size: 18px;
        padding: 10px;
        text-transform: uppercase;
    }
}

.subheading {
    color: #4e5358;
    display: block;
    font-family: 'Baton-Regular';
    font-size: 24px;
    margin-bottom: 20px;
    padding: 0 15px;
    text-align: center;
}
