.yourwords {
    background-color: $white;
    margin: 0;
    padding: 10px 0 0;
    position: relative;
    overflow: auto;
    &__inner {
        background-color: $white;
    }
    &__icon {
        display: flex;
        height: 100px;
        position: relative;
        text-align: center;
        width: 100%;
        &:before {
            background: url($staticPath + 'img/springster/think_purple.png') no-repeat 0 0/95px;
            content: '';
            display: block;
            height: 88px;
            padding: 5px;
            position: absolute;
            right: 0;
            width: 100px;
        }
    }

    .forms__title {
        font-family: 'Baton-Medium';
        font-size: 24px;
        text-transform: uppercase;
        &:after {
            background: url($staticPath + 'img/springster/zig-zag-underline.png') no-repeat 0 0/145px;
            content: '';
            height: 10px;
            margin: 0 auto;
            display: block;
            width: 100%;
        }
        &__subtitle p {
            text-transform: capitalize;
        }
    }

    &--banner {
        background-color: $vivid_yellow;
        padding: 10px 10px 0;
    }
    &--page {
        padding: 20px 10px 20px 0;
        .yourwords__icon {
            margin-bottom: 30px;
            &:before {
                left: 0;
                margin: 0 auto;
                right: 0;
            }
        }
        .forms__title {
            text-align: center;
            &:after {
                left: 0;
                position: absolute;
                right: 0;
                width: 150px;
            }
        }
    }

   
}