{% load article_tags comments threadedcomments_tags home_tags i18n wagtailcore_tags wagtailimages_tags wagtailsettings_tags %}
{% get_settings %}

<div class="article-page">
    <div class="article-page__body">
        <div class="article-heading">
            <h1 class="heading__primary">{{ page.title }}</h1>
        </div>
        {% if page.subtitle %}
            <p class="subheading">{{ page.subtitle }}</p>
        {% endif %}

        {% get_comment_count for page as comment_count %}
        {% if comment_count > 0 %}
            <div class="article-page__commenting-counter">
                <a href="#comments" class="call-to-action__nav-item-text">
                    {% trans "Your thoughts" %} ({{ comment_count }})
                </a>
            </div>
        {% endif %}
        {% if page.image %}
            <div class="article-page__image">
                {% image page.image max-360x200 as article_image %}
                <img alt="{{ article_image.title }}" src="{{ article_image.url }}" class="article-page__thumbnail"/>
            </div>
        {% endif %}
        {% include_block page.body %}
    </div>

    {% social_media_article %}

    {% if settings.home.SiteSettings.show_comments %}
        {% include "../_patterns/commenting.html" %}
    {% endif %}
    {% include "../_patterns/article-teasers-recommendations.html" %}
    {% include "../_patterns/breadcrumbs.html" %}
</div>
