{% load wagtailcore_tags article_tags theme_tags home_tags i18n comments %}

<div class="commenting">
{% if user.is_authenticated %}
        {% get_comment_form for page as form %}
        <form action="{% comment_form_target %}" method="POST">
        {% csrf_token %}
        {{ form.comment }}
        {{ form.content_type }}
        {{ form.object_pk }}
        {{ form.security_hash }}
        {{ form.timestamp }}
        <input type="hidden" name="next" value="{{ page.url }}" />
        <input type="hidden" name="email" value="comment@example.com" />
        <input type="hidden" name="parent" value="{{comment.pk}}" />
        <input type="submit" value="Add comment" id="id_submit" />
        </form>
        {% else %}
            <p class="commenting--label">Please <a href="{% url 'auth_login' %}">log in</a> to leave a comment.</p>
        {% endif %}
    </div>
